// Base
.display-block
  display: block

$yellow: #D39756
$orange: #AF482C
$purple: #5E2E46
$dark-purple: #291413
$dark-blue: #002223
$brown: #322723
$grey: #444
$red: #AE0001
$pink: #DD2F74

$colors: yellow $yellow, orange $orange, purple $purple, dark-purple $dark-purple, dark-blue $dark-blue, brown $brown, grey $grey, red $red, pink $pink

$color-default: #f8f8f8//#ECECEC
$color-inverse: #3C3C3C
$color-primary: #2D6CC9//#0090E7
$color-secondary: #31C290//#1FC757
$color-info: #00BCD4//#00B5E7//#1F91BF//#6E2CDD
$color-warning: #E68523
$color-error: #C53030

$base-colors: default $color-default, inverse $color-inverse, primary $color-primary, secondary $color-secondary, info $color-info, warning $color-warning, error $color-error

// Dropdowns Base

.block
  display: block

.relative
  position: relative

.flex-1
  +prefix(flex, 1 1 auto) // TODO Safari
  //min-height: 100%

.btn
  //margin: 0

.dropdown
  +inline-block

.dropdown-menu
  position: absolute
  z-index: 1
  background: #fff
  display: block
  width: 100%
  box-shadow: 0 2px 5px rgba(0,0,0, .2)
  top: 100%
  padding: 0
  margin: 5px 0 0
  list-style: none
  min-width: 140px
  border-radius: 5px

  &:before
    content: ''
    border: 10ps

  li
    display: block

    a
      padding: .5em 2em
      display: block
      text-decoration: none

      &:hover
        background-color: rgba(0, 0, 0, .02)

.btn-dropdown
  padding-right: 3em!important

  .icon-dropdown
    +inline-block
    width: 2.5em
    height: 100%
    position: absolute
    border-left: 1px solid rgba(0, 0, 0, .1)
    margin-left: .5em
    top: 0


// Colors
.color
  padding: .5em 0
  text-align: center
  width: 25%
  color: #fff
  +inline-block

@each $color in $colors
  $key: nth($color, 1)
  $value: nth($color, 2)
  .#{$key}-color
    color: #{$value}
  .#{$key}-bgc
    background-color: #{$value}

@each $base-color in $base-colors
  $key: nth($base-color, 1)
  $value: nth($base-color, 2)
  .#{$key}-color
    color: #{$value}
  .#{$key}-bgc
    @extend .color
    background-color: #{$value}
  .#{$key}-color-code
    &:before
      content: '#{$value}'


// Tables

table
  width: 100%
  border: 1px solid rgba(0,0,0,.1)
  border-radius: 4px
  border-collapse: separate
  border-spacing: 0
  thead
    font-weight: 400
    td,
    th
      //background-color: rgba(0, 0, 0, .1)
  tr
    border-collapse: separate

    td,
    th
      border-bottom: 1px solid rgba(0, 0, 0, .1)
      border-right: 1px solid rgba(0, 0, 0, .1)

      &:last-child
        border-right: 0


    &:nth-child(2n)
      //background-color: rgba(0, 0, 0, .05)

  td,
  th
    padding: 1em


//labels

.label
  +inline-block
  padding: 0.1em 0.5em
  line-height: 1.1em
  border-radius: 4px
  border: 1px solid rgba(0,0,0,.1)
  color: nth(nth($base-colors, 2), 2)
  background-color: nth(nth($base-colors, 1), 2)
  font-weight: inherit


// LISTS

.list-documentation
  li
    padding: .5em 0

.list
  padding: 0
  margin: 0
  li
    display: block
    position: relative

    .icon-drop-down-list
      position: absolute
      right: .2em
      top: .2em
      font-size: 1.5em
      +prefix(transition, all .2s)

    &:hover,
    &.current
      background: rgba(255, 255, 255, .5)

      .icon-drop-down-list
        transform: rotate(180deg)

      > ul
        display: block

    a
      display: block
      padding: .5em
      text-decoration: none

    ul
      padding-left: .5em
      display: none

      li

    &:last-child
      a
        border-bottom: none

  &.default

  &.border
    border: 1px solid #F2F2F2
