mixin mainAlerts
  div.code-example
    h6 Code: 
    pre
      code(class="language-html", prism)
        :code
          

  div.code-result
    h6 Result:


mixin alertTypes
  div.code-example
    h6 Code: 
    pre
      code(class="language-html", prism)
        :code
          

  div.code-result
    h6 Result:


mixin alertLooks
  div.code-example
    h6 Code: 
    pre
      code(class="language-html", prism)
        :code
          
  div.code-result
    h6 Result:
    

mixin alertSizes
  div.code-example
    h6 Code: 
    pre
      code(class="language-html", prism)
        :code
                    

  div.code-result
    h6 Result:
    


mixin alertDisplay
  div.code-example
    h6 Code: 
    pre
      code(class="language-html", prism)
        :code
          
          

  div.code-result
    h6 Result:
  
