@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600)

html
  height: 100%

body
  padding-top: 54px
  background: #fff
  height: 100%
  position: relative
  font-family: 'Open Sans',sans-serif

a
  color: inherit
