.grid-wrap.grid-wrap-90
  h1.title-section Bases and helpers class

  h2 Base Colors
  .grid-for-8
    .grid-box.default-bgc.grey-color
      span.display-block Default
      small.default-color-code
    .grid-box.inverse-bgc
      span.display-block Inverse
      small.inverse-color-code
    .grid-box.primary-bgc
      span.display-block Primary
      small.primary-color-code
    .grid-box.secondary-bgc
      span.display-block Secondary
      small.secondary-color-code
    .grid-box.info-bgc
      span.display-block Info
      small.info-color-code
    .grid-box.warning-bgc
      span.display-block Warning
      small.warning-color-code
    .grid-box.error-bgc
      span.display-block Error
      small.error-color-code
  .grid-for-8
    .grid-box.default-bgc.grey-color
      span.display-block Default
      small.default-color-code
    .grid-box.inverse-bgc
      span.display-block Inverse
      small.inverse-color-code
    .grid-box.primary-bgc
      span.display-block Primary
      small.primary-color-code
    .grid-box.secondary-bgc
      span.display-block Secondary
      small.secondary-color-code
    .grid-box.info-bgc
      span.display-block Info
      small.info-color-code
    .grid-box.warning-bgc
      span.display-block Warning
      small.warning-color-code
    .grid-box.error-bgc
      span.display-block Error
      small.error-color-code
  .grid-for-8
    .grid-box.default-bgc.grey-color
      span.display-block Default
      small.default-color-code
    .grid-box.inverse-bgc
      span.display-block Inverse
      small.inverse-color-code
    .grid-box.primary-bgc
      span.display-block Primary
      small.primary-color-code
    .grid-box.secondary-bgc
      span.display-block Secondary
      small.secondary-color-code
    .grid-box.info-bgc
      span.display-block Info
      small.info-color-code
    .grid-box.warning-bgc
      span.display-block Warning
      small.warning-color-code
    .grid-box.error-bgc
      span.display-block Error
      small.error-color-code

  h2 Theming Colors
  span.color.brown-bgc #322723
  span.color.yellow-bgc #D39756
  span.color.red-bgc #AE0001
  span.color.orange-bgc #AF482C
  span.color.purple-bgc #5E2E46
  span.color.dark-purple-bgc #291413
  span.color.dark-blue-bgc #002223
  span.color.grey-bgc #A8BAC8
  span.color.pink-bgc #DD2F74
