include ../../../code-example/images/images.pug
h1.title-section Images and Avatars
.gs-wrap
  p Hagrid has some class to normalize look images and avatars.

  h5 Table properties Images
  table.table-documentation
    thead
      tr
        th.first-col Property Details
        th Variations
        th Description
    tr
      th.first-col
        ul.list-documentation.list-documentation-details
          li.list__title
            b Images
          li Type: class
          li Main Class: .img
          li Supports:&nbsp;
            b [styles]

          li.list__cta
            a(href="#images-styles-example", class="btn btn-info btn-sm btn-block") Examples

      td
        ul.list-documentation.list-documentation-variations
          li
            b Styles: .img-{circle, radius}
            span e.g: .img-circle, .img-radius
            pre
              code(class="language-html", prism)
                :code
                  <figure class="img img-circle">
                    <img src="" alt="Image"/>
                  </figure>
      td Hagrid supports some images classes to change style images <b>.img-{circle, radius}</b>

  section.block-section-hash#images-styles-example
    h4 Image Styles
    +imageStyles

