.grid-wrap.grid-wrap-90
  h1.title-section Dropdowns
  h2 Dropdowns Buttons
  div
    .dropdown.dropdown-primary.dropdown-outline.MuseoSans-300(style='width: 245px')
      a.btn.btn-primary.btn-outline.btn-dropdown(href='#')
        | Dropdown A
        span.icon-dropdown.icon-3d_rotation
      ul.dropdown-menu
        li
          a(href='#') Dropdown Menu 1
        li
          a(href='#') Dropdown Menu 2
        li
          a(href='#') Dropdown Menu 3
        li
          a(href='#') Dropdown Menu 4
        li
          a(href='#') Dropdown Menu 5


  //-div
    a.btn.btn-inverse.btn-dropdown(href='#') Button inverse
      span.icon-dropdown
  //div
    a.btn.btn-primary.btn-dropdown.btn-md(href='#') Button primary
      span.icon-dropdown
  //div
    a.btn.btn-secondary.btn-dropdown(href='#') Button secondary
      span.icon-dropdown
  //div
    a.btn.btn-info.btn-dropdown.btn-lg(href='#') Button info
      span.icon-dropdown
  //div
    a.btn.btn-warning.btn-dropdown.btn-upper(href='#') Button warning
      span.icon-dropdown
  //div
    a.btn.btn-error.btn-dropdown.btn-shadow.btn-lg(href='#') Button error
      span.icon-dropdown
