h1 buttons

.grid-wrap.grid-wrap-90
  h2 Colors
  span.colors.brown #322723
  span.colors.yellow #D39756
  span.colors.red #AE0001
  span.colors.orange #AF482C
  span.colors.purple #5E2E46
  span.colors.dark-purple #291413
  span.colors.dark-blue #002223
  span.colors.grey #A8BAC8
  span.colors.pink #DD2F74
  h2 Buttons defaults
  a.btn.btn-default(href='#') Button default
  a.btn.btn-primary(href='#') Button primary
  a.btn.btn-secondary(href='#') Button secondary
  a.btn.btn-warning(href='#') Button warning
  a.btn.btn-error(href='#') Button error
  h2 Buttons Hagrid
  a.btn.btn-orange(href='#') Button orange
  a.btn.btn-yellow(href='#') Button yellow
  a.btn.btn-purple(href='#') Button purple
  a.btn.btn-brown(href='#') Button brown
  a.btn.btn-dark-blue(href='#') Button blue
  a.btn.btn-red(href='#') Button red
  a.btn.btn-pink(href='#') Button pink
  h2 Buttons Corners
  a.btn.btn-orange.btn-corners(href='#') Button orange
  a.btn.btn-yellow.btn-corners(href='#') Button yellow
  a.btn.btn-purple.btn-corners(href='#') Button purple
  a.btn.btn-brown.btn-corners(href='#') Button brown
  a.btn.btn-dark-blue.btn-corners(href='#') Button blue
  a.btn.btn-red.btn-corners(href='#') Button red
  a.btn.btn-pink.btn-corners(href='#') Button pink
  h2 Buttons Upper
  a.btn.btn-orange.btn-upper(href='#') Button orange
  a.btn.btn-yellow.btn-upper(href='#') Button yellow
  a.btn.btn-purple.btn-upper(href='#') Button purple
  a.btn.btn-brown.btn-upper(href='#') Button brown
  a.btn.btn-dark-blue.btn-upper(href='#') Button blue
  a.btn.btn-red.btn-upper(href='#') Button red
  a.btn.btn-pink.btn-upper(href='#') Button pink
  h2 Buttons Circle
  a.btn.btn-orange.btn-circle(href='#') Button orange
  a.btn.btn-yellow.btn-circle(href='#') Button yellow
  a.btn.btn-purple.btn-circle(href='#') Button purple
  a.btn.btn-brown.btn-circle(href='#') Button brown
  a.btn.btn-dark-blue.btn-circle(href='#') Button blue
  a.btn.btn-red.btn-circle(href='#') Button red
  a.btn.btn-pink.btn-circle(href='#') Button pink
  h2 Buttons sizes
  a.btn.btn-orange.btn-smaller(href='#') Button orange
  a.btn.btn-orange.btn-small(href='#') Button orange
  a.btn.btn-orange.btn-default(href='#') Button orange
  a.btn.btn-orange.btn-medium(href='#') Button orange
  a.btn.btn-orange.btn-large(href='#') Button orange
  a.btn.btn-orange.btn-bigger(href='#') Button orange
// end grid wrap
