include ../../../code-example/lists/lists.pug
h1.title-section Lists
.gs-wrap
  p The lists

  table.table-documentation
    thead
      tr
        th.first-col Property Details
        th Variations
        th Description
    tr
      th.first-col
        ul.list-documentation.list-documentation-details
          li.list__title
            b List Main Class
          li Type: class
          li Supports:&nbsp;
            b [types, looks, displays]

          li.list__cta
            a(href="#list-example", class="btn btn-info btn-block btn-sm") Examples
      td
        ul.list-documentation.list-documentation-variations
          li
            b List: .list
            span e.g: .list
            pre
              code(class="language-html", prism)
                :code
                  <ul class="list">
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Lorem ipsum dolor sit amet</li>
                  </ul>

      td Use <b>.list</b> class to reference a list element.
    tr
      th.first-col
        ul.list-documentation.list-documentation-details
          li.list__title
            b List types
          li Type: class
          li Dependencies: .list
          li.list__cta
            a(href="#list-types-example", class="btn btn-info btn-block btn-sm") Examples
      td
        ul.list-documentation.list-documentation-variations
          li
            b List: .list-{types}
            span e.g: .list.list-primary, .list.list-error 
            pre
              code(class="language-html", prism)
                :code
                  <!-- list list-primary -->
                  <ul class="list list-primary">
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Lorem ipsum dolor sit amet</li>
                  </ul>
                  <!-- list list-error -->
                  <ul class="list list-error">
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Lorem ipsum dolor sit amet</li>
                  </ul>


      td Use <b>.list.list-{types}</b> classes to modify the apparence of a list
    tr
      th.first-col
        ul.list-documentation.list-documentation-details
          li.list__title
            b List Looks
          li Type: class
          li Dependencies: .list
          li.list__cta
            a(href="#list-looks-example", class="btn btn-info btn-block btn-sm") Examples
      td
        ul.list-documentation.list-documentation-variations
          li
            b List: .list-{looks}
            span e.g: .list.list-group, .list.list-dot
            pre
              code(class="language-html", prism)
                :code
                  <!-- List group -->
                  <ul class="list list-group">
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Lorem ipsum dolor sit amet</li>
                  </ul>
                  <!-- List dot and primary -->
                  <ul class="list list-dot list-primary">
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Lorem ipsum dolor sit amet</li>
                  </ul>

      td You can use <b>.list-{looks}</b> to change the look of list, available Looks <b>{dot, circle, square, cube, arrow, check, group, divider, border-left}</b>


  section.block-section-hash#list-example
    h4 Main Class of Lists
    +mainLists
  section.block-section-hash#list-types-example
    h4 List Types
    +listTypes
  section.block-section-hash#list-looks-example
    h4 List Looks
    +listLooks
  section.block-section-hash#list-display-example
    h4 List Display
    +listDisplay

  

