h1.title-section Commons and helper classes
.grid-wrap.grid-wrap-90
  p When we building web project, normally we need some generic classes with specific properties, Hagrid has some that help us not specify in our css files

  h5 Table properties Helper Classes
  table.table-documentation
    thead
      tr
        th.first-col Property Details
        th Variations
        th Description
    tr
      th.first-col
        ul.list-documentation.list-documentation-details
          li.list__title
            b Margins
          li Type: class
          li Supports:&nbsp;
            b [axis, sizes, sides and measurements]

          li.list__cta
            a(href="#margins-example", class="btn btn-info btn-sm btn-block") Examples

      td
        ul.list-documentation.list-documentation-variations
          li
            b Sizes: m-[10-100]
            span e.g: m-10, m-20, m-30...
            pre
              code(class="language-html", prism)
                :code
                  <div class="m-10">...</div>
          li
            b Axis: m-{x, y}
            span e.g: m-10-x, m-20-y
            pre
              code(class="language-html", prism)
                :code
                  <div class="m-10-x">...</div>
          li
            b Sides: m-{top, right, bottom, left}
            span e.g: m-10-top, m-20-right, m-30-bottom
            pre
              code(class="language-html", prism)
                :code
                  <div class="m-10-top">...</div>
          li
            b Measurements: m-{px, percent, em, rem}
            span e.g: m-percent, m-em, m-rem
            pre
              code(class="language-html", prism)
                :code
                  <div class="m-10 m-em">...</div>
          li
            b Combined: sizes, axes, measurements
            span e.g: class="m-10-x m-10-top m-percent"
            pre
              code(class="language-html", prism)
                :code
                  <div class="m-10-x m-10-top m-percent">...</div>


      td Hagrid supports margin classes to separate elements, <b>.m-[sizes]</b> to specify a size, <b>.m-{measurements}</b> to specify the measurement, by default measurements is px, <b>.m-{axis}</b> to specify a axes and <b>.m-[side]</b> to specify a side.

    tr
      th.first-col
        ul.list-documentation.list-documentation-details
          li.list__title
            b Paddings
          li Type: class
          li Supports:&nbsp;
            b [axis, sizes, sides and measurements]

          li.list__cta
            a(href="#paddings-example", class="btn btn-info btn-block btn-sm") Examples
      td
        ul.list-documentation.list-documentation-variations
          li
            b Sizes: p-[10-100]
            span e.g: p-10, p-20, p-30...
            pre
              code(class="language-html", prism)
                :code
                  <div class="p-10">...</div>
          li
            b Axis: p-{x, y}
            span e.g: p-10-x, p-20-y
            pre
              code(class="language-html", prism)
                :code
                  <div class="p-10-x">...</div>
          li
            b Sides: p-{top, right, bottom, left}
            span e.g: p-10-top, p-20-right, p-30-bottom
            pre
              code(class="language-html", prism)
                :code
                  <div class="p-10-top">...</div>
          li
            b Measurements: p-{px, percent, em, rem}
            span e.g: p-percent, p-em, p-rem
            pre
              code(class="language-html", prism)
                :code
                  <div class="p-10 p-em">...</div>
          li
            b Combined: sizes, axes, measurements
            span e.g: class="p-10-x p-10-top p-percent"
            pre
              code(class="language-html", prism)
                :code
                  <div class="p-10-x p-10-top p-percent">...</div>

      td Hagrid supports paddings classes to add space inside of element, <b>.p-[sizes]</b> to specify a size, <b>.p-{measurements}</b> to specify the measurement, by default measurements is px, <b>.p-{axis}</b> to specify a axes and <b>.p-[side]</b> to specify a side.

    tr
      th.first-col
        ul.list-documentation.list-documentation-details
          li.list__title
            b Widths
          li Type: class
          li Supports:&nbsp;
            b [sizes, devices]

          li.list__cta
            a(href="#widths-example", class="btn btn-info btn-block btn-sm") Examples
      td
        ul.list-documentation.list-documentation-variations
          li
            b Sizes: w-[10-100], percentages
            span e.g: w-10, w-20, w-30...
            pre
              code(class="language-html", prism)
                :code
                  <div class="w-50">...</div>
          li
            b Devices: w-[sizes]-{xs, sm, md, lg}
            span e.g: w-10-xs, w-20-sm, w-30-md, w-40-lg
            pre
              code(class="language-html", prism)
                :code
                  <div class="w-100-xs w-50-lg">...</div>
      td You can use <b>.w-[size]</b> classes to specify a width of one web element, it´s in percents, <b>[10-100] </b>, from 10 to 100, also you can specify a size to a device <b>.w-[size]-{device}</b> and transform this to multiples devices.
        div.error-color
          b Note: &nbsp;
          span To layouts and columns you should use &nbsp;
            a(ui-sref="main.views.knowledge.grid-system") grid system core


    tr
      th.first-col
        ul.list-documentation.list-documentation-details
          li.list__title
            b Colors
          li Type: class
          li Supports:&nbsp;
            b [colors]

          li.list__cta
            a(href="#colors-example", class="btn btn-info btn-block btn-sm") Examples
      td
        ul.list-documentation.list-documentation-variations
          li
            b Color: {default, inverse, primary, secondary, info, warning, error}-color
            span e.g: primary-color, secondary-color, inverse-color...
            pre
              code(class="language-html", prism)
                :code
                  <div class="primary-color">...</div>
      td You can use <b>.{colors}-color</b> class to specify one base color  <b>colors {default, inverse, primary, secondary, info, warning and error}</b>

    tr
      th.first-col
        ul.list-documentation.list-documentation-details
          li.list__title
            b Backgrounds
          li Type: class
          li Supports:&nbsp;
            b [background-colors]

          li.list__cta
            a(href="#bgc-example", class="btn btn-info btn-block btn-sm") Examples
      td
        ul.list-documentation.list-documentation-variations
          li
            b Background Color: {default, inverse, primary, secondary, info, warning, error}-bgc
            span e.g: primary-bgc, secondary-bgc, inverse-bgc...
            pre
              code(class="language-html", prism)
                :code
                  <div class="primary-bgc">...</div>
      td You can use <b>.{background-colors}-bgc</b> class to specify one base background color  <b>background colors {default, inverse, primary, secondary, info, warning and error}</b>

     tr
      th.first-col
        ul.list-documentation.list-documentation-details
          li.list__title
            b Looks
          li Type: class
          li Supports:&nbsp;
            b [types-look]

          li.list__cta
            a(href="#looks-example", class="btn btn-info btn-block btn-sm") Examples
      td
        ul.list-documentation.list-documentation-variations
          li
            b Type Looks: {default, inverse, primary, secondary, info, warning, error}-look
            span e.g: primary-look, secondary-look, inverse-look...
            pre
              code(class="language-html", prism)
                :code
                  <div class="primary-look">...</div>
      td You can use <b>.{types}-look</b> classes to specify one look to an element <b>type looks {default, inverse, primary, secondary, info, warning and error}</b>

    tr
      th.first-col
        ul.list-documentation.list-documentation-details
          li.list__title
            b Displays
          li Type: class
          li Supports:&nbsp;
            b [displays]

          li.list__cta
            a(href="#display-example", class="btn btn-info btn-block btn-sm") example
      td
        ul.list-documentation.list-documentation-variations
          li
            b Display: .d-{none, inline, inline-block, block, flex}
            span e.g: d-none, d-block, d-inline-block
            pre
              code(class="language-html", prism)
                :code
                  <div class="d-none">...</div>
      td You can use <b>.d-{displays}</b> display classes to modify display element <b>display {none, inline, inline-block, block, flex}</b>
    tr
      th.first-col
        ul.list-documentation.list-documentation-details
          li.list__title
            b Aligns
          li Type: class
          li Supports:&nbsp;
            b [aligns]

          li.list__cta
            a(href="#text-aligns-example", class="btn btn-info btn-block btn-sm") Examples
      td
        ul.list-documentation.list-documentation-variations
          li
            b aligns: .align-{left, center, right, justify}
            span e.g: align-left, align-center, align-right
            pre
              code(class="language-html", prism)
                :code
                  <div class="align-right">...</div>
      td You can use alings classes to aligns elements (inline, inline-block) with a block parent<b>aligns {align-left, align-center, align-right, align-justfy}</b>
    tr
      th.first-col
        ul.list-documentation.list-documentation-details
          li.list__title
            b Text Transform
          li Type: class
          li Supports:&nbsp;
            b [text-transform]

          li.list__cta
            a(href="#text-transform-example", class="btn btn-info btn-block btn-sm") Examples
      td
        ul.list-documentation.list-documentation-variations
          li
            b aligns: .{uppercase, capitalize, lowercase, normal-text}
            span e.g: align-left, align-center, align-right
            pre
              code(class="language-html", prism)
                :code
                  <h1 class="capitalize">...</h1>

      td You can use text transform classes to transform text <b>Text Transforms {uppercase, lowercase, capitalize, normal-text}</b>

  h2 Base Colors
  .grid-for-8
    .grid-box.default-bgc.grey-color
      span.display-block Default
      small.default-color-code
    .grid-box.inverse-bgc
      span.display-block Inverse
      small.inverse-color-code
    .grid-box.primary-bgc
      span.display-block Primary
      small.primary-color-code
    .grid-box.secondary-bgc
      span.display-block Secondary
      small.secondary-color-code
    .grid-box.info-bgc
      span.display-block Info
      small.info-color-code
    .grid-box.warning-bgc
      span.display-block Warning
      small.warning-color-code
    .grid-box.error-bgc
      span.display-block Error
      small.error-color-code
  .grid-for-8.hide
    .grid-box.default-bgc.grey-color
      span.display-block Default
      small.default-color-code
    .grid-box.inverse-bgc
      span.display-block Inverse
      small.inverse-color-code
    .grid-box.primary-bgc
      span.display-block Primary
      small.primary-color-code
    .grid-box.secondary-bgc
      span.display-block Secondary
      small.secondary-color-code
    .grid-box.info-bgc
      span.display-block Info
      small.info-color-code
    .grid-box.warning-bgc
      span.display-block Warning
      small.warning-color-code
    .grid-box.error-bgc
      span.display-block Error
      small.error-color-code
  .grid-for-8
    .grid-box.default-bgc.grey-color
      span.display-block Default
      small.default-color-code
    .grid-box.inverse-bgc
      span.display-block Inverse
      small.inverse-color-code
    .grid-box.primary-bgc
      span.display-block Primary
      small.primary-color-code
    .grid-box.secondary-bgc
      span.display-block Secondary
      small.secondary-color-code
    .grid-box.info-bgc
      span.display-block Info
      small.info-color-code
    .grid-box.warning-bgc
      span.display-block Warning
      small.warning-color-code
    .grid-box.error-bgc
      span.display-block Error
      small.error-color-code
//div
  h2 Theming Colors
  span.color.brown-bgc #322723
  span.color.yellow-bgc #D39756
  span.color.red-bgc #AE0001
  span.color.orange-bgc #AF482C
  span.color.purple-bgc #5E2E46
  span.color.dark-purple-bgc #291413
  span.color.dark-blue-bgc #002223
  span.color.grey-bgc #A8BAC8
  span.color.pink-bgc #DD2F74
