include ../../../code-example/navbars/navbars.pug
h1.title-section Navbars
.gs-wrap
  p Navbars

  h5 Table properties Navbars
  table.table-documentation
    thead
      tr
        th.first-col Property Details
        th Variations
        th Description
    tr
      th.first-col
        ul.list-documentation.list-documentation-details
          li.list__title
            b Navbar
          li Type: class
          li Supports:&nbsp;
            b [types, looks, events]

          li.list__cta
            a(href="#dropdowns-example", class="btn btn-info btn-sm btn-block") Examples

      td
        ul.list-documentation.list-documentation-variations
          li
            b Navbar: .navbar
            span e.g: .navbar
            pre
              code(class="language-html", prism)
                :code
                  <nav class="navbar">
                    <a href="">Item A</a>
                    <a href="">Item B</a>
                    <a href="">Item C</a>
                  </nav>

      td Hagrid Main Structure

    tr
      th.first-col
        ul.list-documentation.list-documentation-details
          li.list__title
            b Looks
          li Type: class
          li Dependencies: .dropdown

          li.list__cta
            a(href="#look-dropdowns-example", class="btn btn-info btn-sm btn-block") Examples

      td
        ul.list-documentation.list-documentation-variations
          li
            b Looks: dropdown > btn-{looks}
            span e.g: dropdown > .btn-outline, dropdown > .btn-error,
            pre
              code(class="language-html", prism)
                :code
                  <nav class="navbar navbar-error navbar-mobile-in-sm navbar-mobile-in-xs" hagrid-component="navbar">
                    <div class="navbar-menu gs">
                      <div class="lay">
                        <a class="navbar-brand" href="">Brand</a>
                        <a href="">Item A</a>
                        <a href="">Item B</a>
                        <a href="">Item C</a>
                      </div>
                      <div class="lay gs justify-content-flex-end">
                        <input type="text" placeholder="Search" class="align-seft">
                      </div>
                    </div>
                    <div class="navbar-menu-mobile">
                      <div class="top-menu">
                        <span class="navbar-brand">Menu</span>
                        <a href="" class="icon-menu" hagrid-role="toggle">
                          <span class="icon-menu-toggle"></span>
                        </a>
                      </div>
                      <nav>
                        <a href="">Item A</a>
                        <a href="">Item B</a>
                        <a href="">Item C</a>
                      </nav>
                    </div>
                  </nav>

      td Hagrid Dropdowns supports types



  section.block-section-hash#dropdown-example
    h4 Main structure HTML Dropdowns
    +mainNavbars

  section.block-section-hash#dropdown-type-example
    h4 Navbars type
    +typeNavbars

  