include ../../../code-example/tabs/tabs.pug
h1.title-section Tabs
.gs-wrap
  p The Tabs

  table.table-documentation
    thead
      tr
        th.first-col Property Details
        th Variations
        th Description
    tr
      th.first-col
        ul.list-documentation.list-documentation-details
          li.list__title
            b Tab Main Class
          li Type: class
          li Supports:&nbsp;
            b [types]

          li.list__cta
            a(href="#tab-example", class="btn btn-info btn-block btn-sm") Examples
      td
        ul.list-documentation.list-documentation-variations
          li
            b Tab: .tab
            span e.g: .tab
            pre
              code(class="language-html", prism)
                :code
                  <section class="tab" hagrid-component="tab">
                    <nav class="tab-nav">
                      <a href="#panel1" class="tab-show" hagrid-role="open">Tab 1</a>
                      <a href="#panel2" hagrid-role="open">Tab 2</a>
                      <a href="#panel3" hagrid-role="open">Tab 3</a>
                      <a href="#panel4" hagrid-role="open">Tab 4</a>
                    </nav>
                    <div class="tab-content">
                      <div class="tab-panel tab-show" id="panel1">Lorem ipsum dolor sit amet 1</div>
                      <div class="tab-panel" id="panel2">Lorem ipsum dolor sit amet 2</div>
                      <div class="tab-panel" id="panel3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
                      <div class="tab-panel" id="panel4">Lorem ipsum dolor sit amet 4</div>
                    </div>
                  </section>
      
      td Use <b>.tab</b>
    tr
      th.first-col
        ul.list-documentation.list-documentation-details
          li.list__title
            b Tab types
          li Type: class
          li Dependencies: .tab
          li.list__cta
            a(href="#tab-types-example", class="btn btn-info btn-block btn-sm") Examples
      td
        ul.list-documentation.list-documentation-variations
          li
            b Tab: .tab-{types}
            span e.g: .tab.tab-primary, .tab.tab-error 
            pre
              code(class="language-html", prism)
                :code
                  <!-- Primary tab -->
                  <section class="tab tab-primary" hagrid-component="tab">
                    <nav class="tab-nav">
                      <a href="#panel1" class="tab-show" hagrid-role="open">Tab 1</a>
                      <a href="#panel2" hagrid-role="open">Tab 2</a>
                      <a href="#panel3" hagrid-role="open">Tab 3</a>
                      <a href="#panel4" hagrid-role="open">Tab 4</a>
                    </nav>
                    <div class="tab-content">
                      <div class="tab-panel tab-show" id="panel1">Lorem ipsum dolor sit amet 1</div>
                      <div class="tab-panel" id="panel2">Lorem ipsum dolor sit amet 2</div>
                      <div class="tab-panel" id="panel3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
                      <div class="tab-panel" id="panel4">Lorem ipsum dolor sit amet 4</div>
                    </div>
                  </section>
                  <!-- Info tab -->
                  <section class="tab tab-info" hagrid-component="tab">
                    <nav class="tab-nav">
                      <a href="#panel1" class="tab-show" hagrid-role="open">Tab 1</a>
                      <a href="#panel2" hagrid-role="open">Tab 2</a>
                      <a href="#panel3" hagrid-role="open">Tab 3</a>
                      <a href="#panel4" hagrid-role="open">Tab 4</a>
                    </nav>
                    <div class="tab-content">
                      <div class="tab-panel tab-show" id="panel1">Lorem ipsum dolor sit amet 1</div>
                      <div class="tab-panel" id="panel2">Lorem ipsum dolor sit amet 2</div>
                      <div class="tab-panel" id="panel3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
                      <div class="tab-panel" id="panel4">Lorem ipsum dolor sit amet 4</div>
                    </div>
                  </section>


      td Use <b>.tab.tab-{types}</b>


  section.block-section-hash#tab-example
    h4 Main Class of Tabs
    +mainTabs
  section.block-section-hash#tab-types-example
    h4 Tab Types
    +tabTypes
  //-section.block-section-hash#tab-looks-example
    h4 Tab Looks
    +tabLooks
  //-section.block-section-hash#tab-display-example
    h4 Tab Sizes
    +tabSizes

  

