.grid-wrap.grid-wrap-90
  h1.title-section Glyphicons
  p we are using the material design glyphicons
  span.btn.width-30(href="")
    i.icon-3d_rotation.d-block
    small icon-3d_rotation
  span.btn.width-30(href="")
    i.icon-ac_unit.d-block
    small icon-ac_unit
  span.btn.width-30(href="")
    i.icon-alarm.d-block
    small icon-alarm
  span.btn.width-30(href="")
    i.icon-access_alarms.d-block
    small icon-access_alarms
  span.btn.width-30(href="")
    i.icon-schedule.d-block
    small icon-schedule
  span.btn.width-30(href="")
    i.icon-accessibility.d-block
    small icon-accessibility
  span.btn.width-30(href="")
    i.icon-accessible.d-block
    small icon-accessible
  span.btn.width-30(href="")
    i.icon-account_balance.d-block
    small icon-account_balance
  span.btn.width-30(href="")
    i.icon-account_balance_wallet.d-block
    small icon-account_balance_wallet
  span.btn.width-30(href="")
    i.icon-account_box.d-block
    small icon-account_box
  span.btn.width-30(href="")
    i.icon-account_circle.d-block
    small icon-account_circle
  span.btn.width-30(href="")
    i.icon-adb.d-block
    small icon-adb
  span.btn.width-30(href="")
    i.icon-add.d-block
    small icon-add
  span.btn.width-30(href="")
    i.icon-add_a_photo.d-block
    small icon-add_a_photo
  span.btn.width-30(href="")
    i.icon-alarm_add.d-block
    small icon-alarm_add
  span.btn.width-30(href="")
    i.icon-add_alert.d-block
    small icon-add_alert
  span.btn.width-30(href="")
    i.icon-add_box.d-block
    small icon-add_box
  span.btn.width-30(href="")
    i.icon-add_circle.d-block
    small icon-add_circle
  span.btn.width-30(href="")
    i.icon-control_point.d-block
    small icon-control_point
  span.btn.width-30(href="")
    i.icon-add_location.d-block
    small icon-add_location
  span.btn.width-30(href="")
    i.icon-add_shopping_cart.d-block
    small icon-add_shopping_cart
  span.btn.width-30(href="")
    i.icon-queue.d-block
    small icon-queue
  span.btn.width-30(href="")
    i.icon-add_to_queue.d-block
    small icon-add_to_queue
  span.btn.width-30(href="")
    i.icon-adjust.d-block
    small icon-adjust
  span.btn.width-30(href="")
    i.icon-airline_seat_flat.d-block
    small icon-airline_seat_flat
  span.btn.width-30(href="")
    i.icon-airline_seat_flat_angled.d-block
    small icon-airline_seat_flat_angled
  span.btn.width-30(href="")
    i.icon-airline_seat_individual_suite.d-block
    small icon-airline_seat_individual_suite
  span.btn.width-30(href="")
    i.icon-airline_seat_legroom_extra.d-block
    small icon-airline_seat_legroom_extra
  span.btn.width-30(href="")
    i.icon-airline_seat_legroom_normal.d-block
    small icon-airline_seat_legroom_normal
  span.btn.width-30(href="")
    i.icon-airline_seat_legroom_reduced.d-block
    small icon-airline_seat_legroom_reduced
  span.btn.width-30(href="")
    i.icon-airline_seat_recline_extra.d-block
    small icon-airline_seat_recline_extra
  span.btn.width-30(href="")
    i.icon-airline_seat_recline_normal.d-block
    small icon-airline_seat_recline_normal
  span.btn.width-30(href="")
    i.icon-flight.d-block
    small icon-flight
  span.btn.width-30(href="")
    i.icon-airplanemode_inactive.d-block
    small icon-airplanemode_inactive
  span.btn.width-30(href="")
    i.icon-airplay.d-block
    small icon-airplay
  span.btn.width-30(href="")
    i.icon-airport_shuttle.d-block
    small icon-airport_shuttle
  span.btn.width-30(href="")
    i.icon-alarm_off.d-block
    small icon-alarm_off
  span.btn.width-30(href="")
    i.icon-alarm_on.d-block
    small icon-alarm_on
  span.btn.width-30(href="")
    i.icon-album.d-block
    small icon-album
  span.btn.width-30(href="")
    i.icon-all_inclusive.d-block
    small icon-all_inclusive
  span.btn.width-30(href="")
    i.icon-all_out.d-block
    small icon-all_out
  span.btn.width-30(href="")
    i.icon-android.d-block
    small icon-android
  span.btn.width-30(href="")
    i.icon-announcement.d-block
    small icon-announcement
  span.btn.width-30(href="")
    i.icon-apps.d-block
    small icon-apps
  span.btn.width-30(href="")
    i.icon-archive.d-block
    small icon-archive
  span.btn.width-30(href="")
    i.icon-arrow_back.d-block
    small icon-arrow_back
  span.btn.width-30(href="")
    i.icon-arrow_downward.d-block
    small icon-arrow_downward
  span.btn.width-30(href="")
    i.icon-arrow_drop_down.d-block
    small icon-arrow_drop_down
  span.btn.width-30(href="")
    i.icon-arrow_drop_down_circle.d-block
    small icon-arrow_drop_down_circle
  span.btn.width-30(href="")
    i.icon-arrow_drop_up.d-block
    small icon-arrow_drop_up
  span.btn.width-30(href="")
    i.icon-arrow_forward.d-block
    small icon-arrow_forward
  span.btn.width-30(href="")
    i.icon-arrow_upward.d-block
    small icon-arrow_upward
  span.btn.width-30(href="")
    i.icon-art_track.d-block
    small icon-art_track
  span.btn.width-30(href="")
    i.icon-aspect_ratio.d-block
    small icon-aspect_ratio
  span.btn.width-30(href="")
    i.icon-poll.d-block
    small icon-poll
  span.btn.width-30(href="")
    i.icon-assignment.d-block
    small icon-assignment
  span.btn.width-30(href="")
    i.icon-assignment_ind.d-block
    small icon-assignment_ind
  span.btn.width-30(href="")
    i.icon-assignment_late.d-block
    small icon-assignment_late
  span.btn.width-30(href="")
    i.icon-assignment_return.d-block
    small icon-assignment_return
  span.btn.width-30(href="")
    i.icon-assignment_returned.d-block
    small icon-assignment_returned
  span.btn.width-30(href="")
    i.icon-assignment_turned_in.d-block
    small icon-assignment_turned_in
  span.btn.width-30(href="")
    i.icon-assistant.d-block
    small icon-assistant
  span.btn.width-30(href="")
    i.icon-flag.d-block
    small icon-flag
  span.btn.width-30(href="")
    i.icon-attach_file.d-block
    small icon-attach_file
  span.btn.width-30(href="")
    i.icon-attach_money.d-block
    small icon-attach_money
  span.btn.width-30(href="")
    i.icon-attachment.d-block
    small icon-attachment
  span.btn.width-30(href="")
    i.icon-audiotrack.d-block
    small icon-audiotrack
  span.btn.width-30(href="")
    i.icon-autorenew.d-block
    small icon-autorenew
  span.btn.width-30(href="")
    i.icon-av_timer.d-block
    small icon-av_timer
  span.btn.width-30(href="")
    i.icon-backspace.d-block
    small icon-backspace
  span.btn.width-30(href="")
    i.icon-cloud_upload.d-block
    small icon-cloud_upload
  span.btn.width-30(href="")
    i.icon-battery_alert.d-block
    small icon-battery_alert
  span.btn.width-30(href="")
    i.icon-battery_charging_full.d-block
    small icon-battery_charging_full
  span.btn.width-30(href="")
    i.icon-battery_std.d-block
    small icon-battery_std
  span.btn.width-30(href="")
    i.icon-battery_unknown.d-block
    small icon-battery_unknown
  span.btn.width-30(href="")
    i.icon-beach_access.d-block
    small icon-beach_access
  span.btn.width-30(href="")
    i.icon-beenhere.d-block
    small icon-beenhere
  span.btn.width-30(href="")
    i.icon-block.d-block
    small icon-block
  span.btn.width-30(href="")
    i.icon-bluetooth.d-block
    small icon-bluetooth
  span.btn.width-30(href="")
    i.icon-bluetooth_searching.d-block
    small icon-bluetooth_searching
  span.btn.width-30(href="")
    i.icon-bluetooth_connected.d-block
    small icon-bluetooth_connected
  span.btn.width-30(href="")
    i.icon-bluetooth_disabled.d-block
    small icon-bluetooth_disabled
  span.btn.width-30(href="")
    i.icon-blur_circular.d-block
    small icon-blur_circular
  span.btn.width-30(href="")
    i.icon-blur_linear.d-block
    small icon-blur_linear
  span.btn.width-30(href="")
    i.icon-blur_off.d-block
    small icon-blur_off
  span.btn.width-30(href="")
    i.icon-blur_on.d-block
    small icon-blur_on
  span.btn.width-30(href="")
    i.icon-class.d-block
    small icon-class
  span.btn.width-30(href="")
    i.icon-turned_in.d-block
    small icon-turned_in
  span.btn.width-30(href="")
    i.icon-turned_in_not.d-block
    small icon-turned_in_not
  span.btn.width-30(href="")
    i.icon-border_all.d-block
    small icon-border_all
  span.btn.width-30(href="")
    i.icon-border_bottom.d-block
    small icon-border_bottom
  span.btn.width-30(href="")
    i.icon-border_clear.d-block
    small icon-border_clear
  span.btn.width-30(href="")
    i.icon-border_color.d-block
    small icon-border_color
  span.btn.width-30(href="")
    i.icon-border_horizontal.d-block
    small icon-border_horizontal
  span.btn.width-30(href="")
    i.icon-border_inner.d-block
    small icon-border_inner
  span.btn.width-30(href="")
    i.icon-border_left.d-block
    small icon-border_left
  span.btn.width-30(href="")
    i.icon-border_outer.d-block
    small icon-border_outer
  span.btn.width-30(href="")
    i.icon-border_right.d-block
    small icon-border_right
  span.btn.width-30(href="")
    i.icon-border_style.d-block
    small icon-border_style
  span.btn.width-30(href="")
    i.icon-border_top.d-block
    small icon-border_top
  span.btn.width-30(href="")
    i.icon-border_vertical.d-block
    small icon-border_vertical
  span.btn.width-30(href="")
    i.icon-branding_watermark.d-block
    small icon-branding_watermark
  span.btn.width-30(href="")
    i.icon-brightness_1.d-block
    small icon-brightness_1
  span.btn.width-30(href="")
    i.icon-brightness_2.d-block
    small icon-brightness_2
  span.btn.width-30(href="")
    i.icon-brightness_3.d-block
    small icon-brightness_3
  span.btn.width-30(href="")
    i.icon-brightness_4.d-block
    small icon-brightness_4
  span.btn.width-30(href="")
    i.icon-brightness_low.d-block
    small icon-brightness_low
  span.btn.width-30(href="")
    i.icon-brightness_medium.d-block
    small icon-brightness_medium
  span.btn.width-30(href="")
    i.icon-brightness_high.d-block
    small icon-brightness_high
  span.btn.width-30(href="")
    i.icon-brightness_auto.d-block
    small icon-brightness_auto
  span.btn.width-30(href="")
    i.icon-broken_image.d-block
    small icon-broken_image
  span.btn.width-30(href="")
    i.icon-brush.d-block
    small icon-brush
  span.btn.width-30(href="")
    i.icon-bubble_chart.d-block
    small icon-bubble_chart
  span.btn.width-30(href="")
    i.icon-bug_report.d-block
    small icon-bug_report
  span.btn.width-30(href="")
    i.icon-build.d-block
    small icon-build
  span.btn.width-30(href="")
    i.icon-burst_mode.d-block
    small icon-burst_mode
  span.btn.width-30(href="")
    i.icon-domain.d-block
    small icon-domain
  span.btn.width-30(href="")
    i.icon-business_center.d-block
    small icon-business_center
  span.btn.width-30(href="")
    i.icon-cached.d-block
    small icon-cached
  span.btn.width-30(href="")
    i.icon-cake.d-block
    small icon-cake
  span.btn.width-30(href="")
    i.icon-phone.d-block
    small icon-phone
  span.btn.width-30(href="")
    i.icon-call_end.d-block
    small icon-call_end
  span.btn.width-30(href="")
    i.icon-call_made.d-block
    small icon-call_made
  span.btn.width-30(href="")
    i.icon-merge_type.d-block
    small icon-merge_type
  span.btn.width-30(href="")
    i.icon-call_missed.d-block
    small icon-call_missed
  span.btn.width-30(href="")
    i.icon-call_missed_outgoing.d-block
    small icon-call_missed_outgoing
  span.btn.width-30(href="")
    i.icon-call_received.d-block
    small icon-call_received
  span.btn.width-30(href="")
    i.icon-call_split.d-block
    small icon-call_split
  span.btn.width-30(href="")
    i.icon-call_to_action.d-block
    small icon-call_to_action
  span.btn.width-30(href="")
    i.icon-camera.d-block
    small icon-camera
  span.btn.width-30(href="")
    i.icon-photo_camera.d-block
    small icon-photo_camera
  span.btn.width-30(href="")
    i.icon-camera_enhance.d-block
    small icon-camera_enhance
  span.btn.width-30(href="")
    i.icon-camera_front.d-block
    small icon-camera_front
  span.btn.width-30(href="")
    i.icon-camera_rear.d-block
    small icon-camera_rear
  span.btn.width-30(href="")
    i.icon-camera_roll.d-block
    small icon-camera_roll
  span.btn.width-30(href="")
    i.icon-cancel.d-block
    small icon-cancel
  span.btn.width-30(href="")
    i.icon-redeem.d-block
    small icon-redeem
  span.btn.width-30(href="")
    i.icon-card_membership.d-block
    small icon-card_membership
  span.btn.width-30(href="")
    i.icon-card_travel.d-block
    small icon-card_travel
  span.btn.width-30(href="")
    i.icon-casino.d-block
    small icon-casino
  span.btn.width-30(href="")
    i.icon-cast.d-block
    small icon-cast
  span.btn.width-30(href="")
    i.icon-cast_connected.d-block
    small icon-cast_connected
  span.btn.width-30(href="")
    i.icon-center_focus_strong.d-block
    small icon-center_focus_strong
  span.btn.width-30(href="")
    i.icon-center_focus_weak.d-block
    small icon-center_focus_weak
  span.btn.width-30(href="")
    i.icon-change_history.d-block
    small icon-change_history
  span.btn.width-30(href="")
    i.icon-chat.d-block
    small icon-chat
  span.btn.width-30(href="")
    i.icon-chat_bubble.d-block
    small icon-chat_bubble
  span.btn.width-30(href="")
    i.icon-chat_bubble_outline.d-block
    small icon-chat_bubble_outline
  span.btn.width-30(href="")
    i.icon-check.d-block
    small icon-check
  span.btn.width-30(href="")
    i.icon-check_box.d-block
    small icon-check_box
  span.btn.width-30(href="")
    i.icon-check_box_outline_blank.d-block
    small icon-check_box_outline_blank
  span.btn.width-30(href="")
    i.icon-check_circle.d-block
    small icon-check_circle
  span.btn.width-30(href="")
    i.icon-navigate_before.d-block
    small icon-navigate_before
  span.btn.width-30(href="")
    i.icon-navigate_next.d-block
    small icon-navigate_next
  span.btn.width-30(href="")
    i.icon-child_care.d-block
    small icon-child_care
  span.btn.width-30(href="")
    i.icon-child_friendly.d-block
    small icon-child_friendly
  span.btn.width-30(href="")
    i.icon-chrome_reader_mode.d-block
    small icon-chrome_reader_mode
  span.btn.width-30(href="")
    i.icon-close.d-block
    small icon-close
  span.btn.width-30(href="")
    i.icon-clear_all.d-block
    small icon-clear_all
  span.btn.width-30(href="")
    i.icon-closed_caption.d-block
    small icon-closed_caption
  span.btn.width-30(href="")
    i.icon-wb_cloudy.d-block
    small icon-wb_cloudy
  span.btn.width-30(href="")
    i.icon-cloud_circle.d-block
    small icon-cloud_circle
  span.btn.width-30(href="")
    i.icon-cloud_done.d-block
    small icon-cloud_done
  span.btn.width-30(href="")
    i.icon-cloud_download.d-block
    small icon-cloud_download
  span.btn.width-30(href="")
    i.icon-cloud_off.d-block
    small icon-cloud_off
  span.btn.width-30(href="")
    i.icon-cloud_queue.d-block
    small icon-cloud_queue
  span.btn.width-30(href="")
    i.icon-code.d-block
    small icon-code
  span.btn.width-30(href="")
    i.icon-photo_library.d-block
    small icon-photo_library
  span.btn.width-30(href="")
    i.icon-collections_bookmark.d-block
    small icon-collections_bookmark
  span.btn.width-30(href="")
    i.icon-palette.d-block
    small icon-palette
  span.btn.width-30(href="")
    i.icon-colorize.d-block
    small icon-colorize
  span.btn.width-30(href="")
    i.icon-comment.d-block
    small icon-comment
  span.btn.width-30(href="")
    i.icon-compare.d-block
    small icon-compare
  span.btn.width-30(href="")
    i.icon-compare_arrows.d-block
    small icon-compare_arrows
  span.btn.width-30(href="")
    i.icon-laptop.d-block
    small icon-laptop
  span.btn.width-30(href="")
    i.icon-confirmation_number.d-block
    small icon-confirmation_number
  span.btn.width-30(href="")
    i.icon-contact_mail.d-block
    small icon-contact_mail
  span.btn.width-30(href="")
    i.icon-contact_phone.d-block
    small icon-contact_phone
  span.btn.width-30(href="")
    i.icon-contacts.d-block
    small icon-contacts
  span.btn.width-30(href="")
    i.icon-content_copy.d-block
    small icon-content_copy
  span.btn.width-30(href="")
    i.icon-content_cut.d-block
    small icon-content_cut
  span.btn.width-30(href="")
    i.icon-content_paste.d-block
    small icon-content_paste
  span.btn.width-30(href="")
    i.icon-control_point_duplicate.d-block
    small icon-control_point_duplicate
  span.btn.width-30(href="")
    i.icon-copyright.d-block
    small icon-copyright
  span.btn.width-30(href="")
    i.icon-mode_edit.d-block
    small icon-mode_edit
  span.btn.width-30(href="")
    i.icon-create_new_folder.d-block
    small icon-create_new_folder
  span.btn.width-30(href="")
    i.icon-payment.d-block
    small icon-payment
  span.btn.width-30(href="")
    i.icon-crop.d-block
    small icon-crop
  span.btn.width-30(href="")
    i.icon-crop_16_9.d-block
    small icon-crop_16_9
  span.btn.width-30(href="")
    i.icon-crop_3_2.d-block
    small icon-crop_3_2
  span.btn.width-30(href="")
    i.icon-crop_landscape.d-block
    small icon-crop_landscape
  span.btn.width-30(href="")
    i.icon-crop_7_5.d-block
    small icon-crop_7_5
  span.btn.width-30(href="")
    i.icon-crop_din.d-block
    small icon-crop_din
  span.btn.width-30(href="")
    i.icon-crop_free.d-block
    small icon-crop_free
  span.btn.width-30(href="")
    i.icon-crop_original.d-block
    small icon-crop_original
  span.btn.width-30(href="")
    i.icon-crop_portrait.d-block
    small icon-crop_portrait
  span.btn.width-30(href="")
    i.icon-crop_rotate.d-block
    small icon-crop_rotate
  span.btn.width-30(href="")
    i.icon-crop_square.d-block
    small icon-crop_square
  span.btn.width-30(href="")
    i.icon-dashboard.d-block
    small icon-dashboard
  span.btn.width-30(href="")
    i.icon-data_usage.d-block
    small icon-data_usage
  span.btn.width-30(href="")
    i.icon-date_range.d-block
    small icon-date_range
  span.btn.width-30(href="")
    i.icon-dehaze.d-block
    small icon-dehaze
  span.btn.width-30(href="")
    i.icon-delete.d-block
    small icon-delete
  span.btn.width-30(href="")
    i.icon-delete_forever.d-block
    small icon-delete_forever
  span.btn.width-30(href="")
    i.icon-delete_sweep.d-block
    small icon-delete_sweep
  span.btn.width-30(href="")
    i.icon-description.d-block
    small icon-description
  span.btn.width-30(href="")
    i.icon-desktop_mac.d-block
    small icon-desktop_mac
  span.btn.width-30(href="")
    i.icon-desktop_windows.d-block
    small icon-desktop_windows
  span.btn.width-30(href="")
    i.icon-details.d-block
    small icon-details
  span.btn.width-30(href="")
    i.icon-developer_board.d-block
    small icon-developer_board
  span.btn.width-30(href="")
    i.icon-developer_mode.d-block
    small icon-developer_mode
  span.btn.width-30(href="")
    i.icon-device_hub.d-block
    small icon-device_hub
  span.btn.width-30(href="")
    i.icon-phonelink.d-block
    small icon-phonelink
  span.btn.width-30(href="")
    i.icon-devices_other.d-block
    small icon-devices_other
  span.btn.width-30(href="")
    i.icon-dialer_sip.d-block
    small icon-dialer_sip
  span.btn.width-30(href="")
    i.icon-dialpad.d-block
    small icon-dialpad
  span.btn.width-30(href="")
    i.icon-directions.d-block
    small icon-directions
  span.btn.width-30(href="")
    i.icon-directions_bike.d-block
    small icon-directions_bike
  span.btn.width-30(href="")
    i.icon-directions_boat.d-block
    small icon-directions_boat
  span.btn.width-30(href="")
    i.icon-directions_bus.d-block
    small icon-directions_bus
  span.btn.width-30(href="")
    i.icon-directions_car.d-block
    small icon-directions_car
  span.btn.width-30(href="")
    i.icon-directions_railway.d-block
    small icon-directions_railway
  span.btn.width-30(href="")
    i.icon-directions_run.d-block
    small icon-directions_run
  span.btn.width-30(href="")
    i.icon-directions_transit.d-block
    small icon-directions_transit
  span.btn.width-30(href="")
    i.icon-directions_walk.d-block
    small icon-directions_walk
  span.btn.width-30(href="")
    i.icon-disc_full.d-block
    small icon-disc_full
  span.btn.width-30(href="")
    i.icon-dns.d-block
    small icon-dns
  span.btn.width-30(href="")
    i.icon-not_interested.d-block
    small icon-not_interested
  span.btn.width-30(href="")
    i.icon-do_not_disturb_alt.d-block
    small icon-do_not_disturb_alt
  span.btn.width-30(href="")
    i.icon-do_not_disturb_off.d-block
    small icon-do_not_disturb_off
  span.btn.width-30(href="")
    i.icon-remove_circle.d-block
    small icon-remove_circle
  span.btn.width-30(href="")
    i.icon-dock.d-block
    small icon-dock
  span.btn.width-30(href="")
    i.icon-done.d-block
    small icon-done
  span.btn.width-30(href="")
    i.icon-done_all.d-block
    small icon-done_all
  span.btn.width-30(href="")
    i.icon-donut_large.d-block
    small icon-donut_large
  span.btn.width-30(href="")
    i.icon-donut_small.d-block
    small icon-donut_small
  span.btn.width-30(href="")
    i.icon-drafts.d-block
    small icon-drafts
  span.btn.width-30(href="")
    i.icon-drag_handle.d-block
    small icon-drag_handle
  span.btn.width-30(href="")
    i.icon-time_to_leave.d-block
    small icon-time_to_leave
  span.btn.width-30(href="")
    i.icon-dvr.d-block
    small icon-dvr
  span.btn.width-30(href="")
    i.icon-edit_location.d-block
    small icon-edit_location
  span.btn.width-30(href="")
    i.icon-eject.d-block
    small icon-eject
  span.btn.width-30(href="")
    i.icon-markunread.d-block
    small icon-markunread
  span.btn.width-30(href="")
    i.icon-enhanced_encryption.d-block
    small icon-enhanced_encryption
  span.btn.width-30(href="")
    i.icon-equalizer.d-block
    small icon-equalizer
  span.btn.width-30(href="")
    i.icon-error.d-block
    small icon-error
  span.btn.width-30(href="")
    i.icon-error_outline.d-block
    small icon-error_outline
  span.btn.width-30(href="")
    i.icon-euro_symbol.d-block
    small icon-euro_symbol
  span.btn.width-30(href="")
    i.icon-ev_station.d-block
    small icon-ev_station
  span.btn.width-30(href="")
    i.icon-insert_invitation.d-block
    small icon-insert_invitation
  span.btn.width-30(href="")
    i.icon-event_available.d-block
    small icon-event_available
  span.btn.width-30(href="")
    i.icon-event_busy.d-block
    small icon-event_busy
  span.btn.width-30(href="")
    i.icon-event_note.d-block
    small icon-event_note
  span.btn.width-30(href="")
    i.icon-event_seat.d-block
    small icon-event_seat
  span.btn.width-30(href="")
    i.icon-exit_to_app.d-block
    small icon-exit_to_app
  span.btn.width-30(href="")
    i.icon-expand_less.d-block
    small icon-expand_less
  span.btn.width-30(href="")
    i.icon-expand_more.d-block
    small icon-expand_more
  span.btn.width-30(href="")
    i.icon-explicit.d-block
    small icon-explicit
  span.btn.width-30(href="")
    i.icon-explore.d-block
    small icon-explore
  span.btn.width-30(href="")
    i.icon-exposure.d-block
    small icon-exposure
  span.btn.width-30(href="")
    i.icon-exposure_neg_1.d-block
    small icon-exposure_neg_1
  span.btn.width-30(href="")
    i.icon-exposure_neg_2.d-block
    small icon-exposure_neg_2
  span.btn.width-30(href="")
    i.icon-exposure_plus_1.d-block
    small icon-exposure_plus_1
  span.btn.width-30(href="")
    i.icon-exposure_plus_2.d-block
    small icon-exposure_plus_2
  span.btn.width-30(href="")
    i.icon-exposure_zero.d-block
    small icon-exposure_zero
  span.btn.width-30(href="")
    i.icon-extension.d-block
    small icon-extension
  span.btn.width-30(href="")
    i.icon-face.d-block
    small icon-face
  span.btn.width-30(href="")
    i.icon-fast_forward.d-block
    small icon-fast_forward
  span.btn.width-30(href="")
    i.icon-fast_rewind.d-block
    small icon-fast_rewind
  span.btn.width-30(href="")
    i.icon-favorite.d-block
    small icon-favorite
  span.btn.width-30(href="")
    i.icon-favorite_border.d-block
    small icon-favorite_border
  span.btn.width-30(href="")
    i.icon-featured_play_list.d-block
    small icon-featured_play_list
  span.btn.width-30(href="")
    i.icon-featured_video.d-block
    small icon-featured_video
  span.btn.width-30(href="")
    i.icon-sms_failed.d-block
    small icon-sms_failed
  span.btn.width-30(href="")
    i.icon-fiber_dvr.d-block
    small icon-fiber_dvr
  span.btn.width-30(href="")
    i.icon-fiber_manual_record.d-block
    small icon-fiber_manual_record
  span.btn.width-30(href="")
    i.icon-fiber_new.d-block
    small icon-fiber_new
  span.btn.width-30(href="")
    i.icon-fiber_pin.d-block
    small icon-fiber_pin
  span.btn.width-30(href="")
    i.icon-fiber_smart_record.d-block
    small icon-fiber_smart_record
  span.btn.width-30(href="")
    i.icon-get_app.d-block
    small icon-get_app
  span.btn.width-30(href="")
    i.icon-file_upload.d-block
    small icon-file_upload
  span.btn.width-30(href="")
    i.icon-filter.d-block
    small icon-filter
  span.btn.width-30(href="")
    i.icon-filter_1.d-block
    small icon-filter_1
  span.btn.width-30(href="")
    i.icon-filter_2.d-block
    small icon-filter_2
  span.btn.width-30(href="")
    i.icon-filter_3.d-block
    small icon-filter_3
  span.btn.width-30(href="")
    i.icon-filter_4.d-block
    small icon-filter_4
  span.btn.width-30(href="")
    i.icon-filter_5.d-block
    small icon-filter_5
  span.btn.width-30(href="")
    i.icon-filter_6.d-block
    small icon-filter_6
  span.btn.width-30(href="")
    i.icon-filter_7.d-block
    small icon-filter_7
  span.btn.width-30(href="")
    i.icon-filter_8.d-block
    small icon-filter_8
  span.btn.width-30(href="")
    i.icon-filter_9.d-block
    small icon-filter_9
  span.btn.width-30(href="")
    i.icon-filter_9_plus.d-block
    small icon-filter_9_plus
  span.btn.width-30(href="")
    i.icon-filter_b_and_w.d-block
    small icon-filter_b_and_w
  span.btn.width-30(href="")
    i.icon-filter_center_focus.d-block
    small icon-filter_center_focus
  span.btn.width-30(href="")
    i.icon-filter_drama.d-block
    small icon-filter_drama
  span.btn.width-30(href="")
    i.icon-filter_frames.d-block
    small icon-filter_frames
  span.btn.width-30(href="")
    i.icon-terrain.d-block
    small icon-terrain
  span.btn.width-30(href="")
    i.icon-filter_list.d-block
    small icon-filter_list
  span.btn.width-30(href="")
    i.icon-filter_none.d-block
    small icon-filter_none
  span.btn.width-30(href="")
    i.icon-filter_tilt_shift.d-block
    small icon-filter_tilt_shift
  span.btn.width-30(href="")
    i.icon-filter_vintage.d-block
    small icon-filter_vintage
  span.btn.width-30(href="")
    i.icon-find_in_page.d-block
    small icon-find_in_page
  span.btn.width-30(href="")
    i.icon-find_replace.d-block
    small icon-find_replace
  span.btn.width-30(href="")
    i.icon-fingerprint.d-block
    small icon-fingerprint
  span.btn.width-30(href="")
    i.icon-first_page.d-block
    small icon-first_page
  span.btn.width-30(href="")
    i.icon-fitness_center.d-block
    small icon-fitness_center
  span.btn.width-30(href="")
    i.icon-flare.d-block
    small icon-flare
  span.btn.width-30(href="")
    i.icon-flash_auto.d-block
    small icon-flash_auto
  span.btn.width-30(href="")
    i.icon-flash_off.d-block
    small icon-flash_off
  span.btn.width-30(href="")
    i.icon-flash_on.d-block
    small icon-flash_on
  span.btn.width-30(href="")
    i.icon-flight_land.d-block
    small icon-flight_land
  span.btn.width-30(href="")
    i.icon-flight_takeoff.d-block
    small icon-flight_takeoff
  span.btn.width-30(href="")
    i.icon-flip.d-block
    small icon-flip
  span.btn.width-30(href="")
    i.icon-flip_to_back.d-block
    small icon-flip_to_back
  span.btn.width-30(href="")
    i.icon-flip_to_front.d-block
    small icon-flip_to_front
  span.btn.width-30(href="")
    i.icon-folder.d-block
    small icon-folder
  span.btn.width-30(href="")
    i.icon-folder_open.d-block
    small icon-folder_open
  span.btn.width-30(href="")
    i.icon-folder_shared.d-block
    small icon-folder_shared
  span.btn.width-30(href="")
    i.icon-folder_special.d-block
    small icon-folder_special
  span.btn.width-30(href="")
    i.icon-font_download.d-block
    small icon-font_download
  span.btn.width-30(href="")
    i.icon-format_align_center.d-block
    small icon-format_align_center
  span.btn.width-30(href="")
    i.icon-format_align_justify.d-block
    small icon-format_align_justify
  span.btn.width-30(href="")
    i.icon-format_align_left.d-block
    small icon-format_align_left
  span.btn.width-30(href="")
    i.icon-format_align_right.d-block
    small icon-format_align_right
  span.btn.width-30(href="")
    i.icon-format_bold.d-block
    small icon-format_bold
  span.btn.width-30(href="")
    i.icon-format_clear.d-block
    small icon-format_clear
  span.btn.width-30(href="")
    i.icon-format_color_fill.d-block
    small icon-format_color_fill
  span.btn.width-30(href="")
    i.icon-format_color_reset.d-block
    small icon-format_color_reset
  span.btn.width-30(href="")
    i.icon-format_color_text.d-block
    small icon-format_color_text
  span.btn.width-30(href="")
    i.icon-format_indent_decrease.d-block
    small icon-format_indent_decrease
  span.btn.width-30(href="")
    i.icon-format_indent_increase.d-block
    small icon-format_indent_increase
  span.btn.width-30(href="")
    i.icon-format_italic.d-block
    small icon-format_italic
  span.btn.width-30(href="")
    i.icon-format_line_spacing.d-block
    small icon-format_line_spacing
  span.btn.width-30(href="")
    i.icon-format_list_bulleted.d-block
    small icon-format_list_bulleted
  span.btn.width-30(href="")
    i.icon-format_list_numbered.d-block
    small icon-format_list_numbered
  span.btn.width-30(href="")
    i.icon-format_paint.d-block
    small icon-format_paint
  span.btn.width-30(href="")
    i.icon-format_quote.d-block
    small icon-format_quote
  span.btn.width-30(href="")
    i.icon-format_shapes.d-block
    small icon-format_shapes
  span.btn.width-30(href="")
    i.icon-format_size.d-block
    small icon-format_size
  span.btn.width-30(href="")
    i.icon-format_strikethrough.d-block
    small icon-format_strikethrough
  span.btn.width-30(href="")
    i.icon-format_textdirection_l_to_r.d-block
    small icon-format_textdirection_l_to_r
  span.btn.width-30(href="")
    i.icon-format_textdirection_r_to_l.d-block
    small icon-format_textdirection_r_to_l
  span.btn.width-30(href="")
    i.icon-format_underlined.d-block
    small icon-format_underlined
  span.btn.width-30(href="")
    i.icon-question_answer.d-block
    small icon-question_answer
  span.btn.width-30(href="")
    i.icon-forward.d-block
    small icon-forward
  span.btn.width-30(href="")
    i.icon-forward_10.d-block
    small icon-forward_10
  span.btn.width-30(href="")
    i.icon-forward_30.d-block
    small icon-forward_30
  span.btn.width-30(href="")
    i.icon-forward_5.d-block
    small icon-forward_5
  span.btn.width-30(href="")
    i.icon-free_breakfast.d-block
    small icon-free_breakfast
  span.btn.width-30(href="")
    i.icon-fullscreen.d-block
    small icon-fullscreen
  span.btn.width-30(href="")
    i.icon-fullscreen_exit.d-block
    small icon-fullscreen_exit
  span.btn.width-30(href="")
    i.icon-functions.d-block
    small icon-functions
  span.btn.width-30(href="")
    i.icon-g_translate.d-block
    small icon-g_translate
  span.btn.width-30(href="")
    i.icon-games.d-block
    small icon-games
  span.btn.width-30(href="")
    i.icon-gavel.d-block
    small icon-gavel
  span.btn.width-30(href="")
    i.icon-gesture.d-block
    small icon-gesture
  span.btn.width-30(href="")
    i.icon-gif.d-block
    small icon-gif
  span.btn.width-30(href="")
    i.icon-goat.d-block
    small icon-goat
  span.btn.width-30(href="")
    i.icon-golf_course.d-block
    small icon-golf_course
  span.btn.width-30(href="")
    i.icon-my_location.d-block
    small icon-my_location
  span.btn.width-30(href="")
    i.icon-location_searching.d-block
    small icon-location_searching
  span.btn.width-30(href="")
    i.icon-location_disabled.d-block
    small icon-location_disabled
  span.btn.width-30(href="")
    i.icon-star.d-block
    small icon-star
  span.btn.width-30(href="")
    i.icon-gradient.d-block
    small icon-gradient
  span.btn.width-30(href="")
    i.icon-grain.d-block
    small icon-grain
  span.btn.width-30(href="")
    i.icon-graphic_eq.d-block
    small icon-graphic_eq
  span.btn.width-30(href="")
    i.icon-grid_off.d-block
    small icon-grid_off
  span.btn.width-30(href="")
    i.icon-grid_on.d-block
    small icon-grid_on
  span.btn.width-30(href="")
    i.icon-people.d-block
    small icon-people
  span.btn.width-30(href="")
    i.icon-group_add.d-block
    small icon-group_add
  span.btn.width-30(href="")
    i.icon-group_work.d-block
    small icon-group_work
  span.btn.width-30(href="")
    i.icon-hd.d-block
    small icon-hd
  span.btn.width-30(href="")
    i.icon-hdr_off.d-block
    small icon-hdr_off
  span.btn.width-30(href="")
    i.icon-hdr_on.d-block
    small icon-hdr_on
  span.btn.width-30(href="")
    i.icon-hdr_strong.d-block
    small icon-hdr_strong
  span.btn.width-30(href="")
    i.icon-hdr_weak.d-block
    small icon-hdr_weak
  span.btn.width-30(href="")
    i.icon-headset.d-block
    small icon-headset
  span.btn.width-30(href="")
    i.icon-headset_mic.d-block
    small icon-headset_mic
  span.btn.width-30(href="")
    i.icon-healing.d-block
    small icon-healing
  span.btn.width-30(href="")
    i.icon-hearing.d-block
    small icon-hearing
  span.btn.width-30(href="")
    i.icon-help.d-block
    small icon-help
  span.btn.width-30(href="")
    i.icon-help_outline.d-block
    small icon-help_outline
  span.btn.width-30(href="")
    i.icon-high_quality.d-block
    small icon-high_quality
  span.btn.width-30(href="")
    i.icon-highlight.d-block
    small icon-highlight
  span.btn.width-30(href="")
    i.icon-highlight_off.d-block
    small icon-highlight_off
  span.btn.width-30(href="")
    i.icon-restore.d-block
    small icon-restore
  span.btn.width-30(href="")
    i.icon-home.d-block
    small icon-home
  span.btn.width-30(href="")
    i.icon-hot_tub.d-block
    small icon-hot_tub
  span.btn.width-30(href="")
    i.icon-local_hotel.d-block
    small icon-local_hotel
  span.btn.width-30(href="")
    i.icon-hourglass_empty.d-block
    small icon-hourglass_empty
  span.btn.width-30(href="")
    i.icon-hourglass_full.d-block
    small icon-hourglass_full
  span.btn.width-30(href="")
    i.icon-http.d-block
    small icon-http
  span.btn.width-30(href="")
    i.icon-lock.d-block
    small icon-lock
  span.btn.width-30(href="")
    i.icon-photo.d-block
    small icon-photo
  span.btn.width-30(href="")
    i.icon-image_aspect_ratio.d-block
    small icon-image_aspect_ratio
  span.btn.width-30(href="")
    i.icon-import_contacts.d-block
    small icon-import_contacts
  span.btn.width-30(href="")
    i.icon-import_export.d-block
    small icon-import_export
  span.btn.width-30(href="")
    i.icon-important_devices.d-block
    small icon-important_devices
  span.btn.width-30(href="")
    i.icon-inbox.d-block
    small icon-inbox
  span.btn.width-30(href="")
    i.icon-indeterminate_check_box.d-block
    small icon-indeterminate_check_box
  span.btn.width-30(href="")
    i.icon-info.d-block
    small icon-info
  span.btn.width-30(href="")
    i.icon-info_outline.d-block
    small icon-info_outline
  span.btn.width-30(href="")
    i.icon-input.d-block
    small icon-input
  span.btn.width-30(href="")
    i.icon-insert_comment.d-block
    small icon-insert_comment
  span.btn.width-30(href="")
    i.icon-insert_drive_file.d-block
    small icon-insert_drive_file
  span.btn.width-30(href="")
    i.icon-tag_faces.d-block
    small icon-tag_faces
  span.btn.width-30(href="")
    i.icon-link.d-block
    small icon-link
  span.btn.width-30(href="")
    i.icon-invert_colors.d-block
    small icon-invert_colors
  span.btn.width-30(href="")
    i.icon-invert_colors_off.d-block
    small icon-invert_colors_off
  span.btn.width-30(href="")
    i.icon-iso.d-block
    small icon-iso
  span.btn.width-30(href="")
    i.icon-keyboard.d-block
    small icon-keyboard
  span.btn.width-30(href="")
    i.icon-keyboard_arrow_down.d-block
    small icon-keyboard_arrow_down
  span.btn.width-30(href="")
    i.icon-keyboard_arrow_left.d-block
    small icon-keyboard_arrow_left
  span.btn.width-30(href="")
    i.icon-keyboard_arrow_right.d-block
    small icon-keyboard_arrow_right
  span.btn.width-30(href="")
    i.icon-keyboard_arrow_up.d-block
    small icon-keyboard_arrow_up
  span.btn.width-30(href="")
    i.icon-keyboard_backspace.d-block
    small icon-keyboard_backspace
  span.btn.width-30(href="")
    i.icon-keyboard_capslock.d-block
    small icon-keyboard_capslock
  span.btn.width-30(href="")
    i.icon-keyboard_hide.d-block
    small icon-keyboard_hide
  span.btn.width-30(href="")
    i.icon-keyboard_return.d-block
    small icon-keyboard_return
  span.btn.width-30(href="")
    i.icon-keyboard_tab.d-block
    small icon-keyboard_tab
  span.btn.width-30(href="")
    i.icon-keyboard_voice.d-block
    small icon-keyboard_voice
  span.btn.width-30(href="")
    i.icon-kitchen.d-block
    small icon-kitchen
  span.btn.width-30(href="")
    i.icon-label.d-block
    small icon-label
  span.btn.width-30(href="")
    i.icon-label_outline.d-block
    small icon-label_outline
  span.btn.width-30(href="")
    i.icon-language.d-block
    small icon-language
  span.btn.width-30(href="")
    i.icon-laptop_chromebook.d-block
    small icon-laptop_chromebook
  span.btn.width-30(href="")
    i.icon-laptop_mac.d-block
    small icon-laptop_mac
  span.btn.width-30(href="")
    i.icon-laptop_windows.d-block
    small icon-laptop_windows
  span.btn.width-30(href="")
    i.icon-last_page.d-block
    small icon-last_page
  span.btn.width-30(href="")
    i.icon-open_in_new.d-block
    small icon-open_in_new
  span.btn.width-30(href="")
    i.icon-layers.d-block
    small icon-layers
  span.btn.width-30(href="")
    i.icon-layers_clear.d-block
    small icon-layers_clear
  span.btn.width-30(href="")
    i.icon-leak_add.d-block
    small icon-leak_add
  span.btn.width-30(href="")
    i.icon-leak_remove.d-block
    small icon-leak_remove
  span.btn.width-30(href="")
    i.icon-lens.d-block
    small icon-lens
  span.btn.width-30(href="")
    i.icon-library_books.d-block
    small icon-library_books
  span.btn.width-30(href="")
    i.icon-library_music.d-block
    small icon-library_music
  span.btn.width-30(href="")
    i.icon-lightbulb_outline.d-block
    small icon-lightbulb_outline
  span.btn.width-30(href="")
    i.icon-line_style.d-block
    small icon-line_style
  span.btn.width-30(href="")
    i.icon-line_weight.d-block
    small icon-line_weight
  span.btn.width-30(href="")
    i.icon-linear_scale.d-block
    small icon-linear_scale
  span.btn.width-30(href="")
    i.icon-linked_camera.d-block
    small icon-linked_camera
  span.btn.width-30(href="")
    i.icon-list.d-block
    small icon-list
  span.btn.width-30(href="")
    i.icon-live_help.d-block
    small icon-live_help
  span.btn.width-30(href="")
    i.icon-live_tv.d-block
    small icon-live_tv
  span.btn.width-30(href="")
    i.icon-local_play.d-block
    small icon-local_play
  span.btn.width-30(href="")
    i.icon-local_airport.d-block
    small icon-local_airport
  span.btn.width-30(href="")
    i.icon-local_atm.d-block
    small icon-local_atm
  span.btn.width-30(href="")
    i.icon-local_bar.d-block
    small icon-local_bar
  span.btn.width-30(href="")
    i.icon-local_cafe.d-block
    small icon-local_cafe
  span.btn.width-30(href="")
    i.icon-local_car_wash.d-block
    small icon-local_car_wash
  span.btn.width-30(href="")
    i.icon-local_convenience_store.d-block
    small icon-local_convenience_store
  span.btn.width-30(href="")
    i.icon-restaurant_menu.d-block
    small icon-restaurant_menu
  span.btn.width-30(href="")
    i.icon-local_drink.d-block
    small icon-local_drink
  span.btn.width-30(href="")
    i.icon-local_florist.d-block
    small icon-local_florist
  span.btn.width-30(href="")
    i.icon-local_gas_station.d-block
    small icon-local_gas_station
  span.btn.width-30(href="")
    i.icon-shopping_cart.d-block
    small icon-shopping_cart
  span.btn.width-30(href="")
    i.icon-local_hospital.d-block
    small icon-local_hospital
  span.btn.width-30(href="")
    i.icon-local_laundry_service.d-block
    small icon-local_laundry_service
  span.btn.width-30(href="")
    i.icon-local_library.d-block
    small icon-local_library
  span.btn.width-30(href="")
    i.icon-local_mall.d-block
    small icon-local_mall
  span.btn.width-30(href="")
    i.icon-theaters.d-block
    small icon-theaters
  span.btn.width-30(href="")
    i.icon-local_offer.d-block
    small icon-local_offer
  span.btn.width-30(href="")
    i.icon-local_parking.d-block
    small icon-local_parking
  span.btn.width-30(href="")
    i.icon-local_pharmacy.d-block
    small icon-local_pharmacy
  span.btn.width-30(href="")
    i.icon-local_pizza.d-block
    small icon-local_pizza
  span.btn.width-30(href="")
    i.icon-print.d-block
    small icon-print
  span.btn.width-30(href="")
    i.icon-local_shipping.d-block
    small icon-local_shipping
  span.btn.width-30(href="")
    i.icon-local_taxi.d-block
    small icon-local_taxi
  span.btn.width-30(href="")
    i.icon-location_city.d-block
    small icon-location_city
  span.btn.width-30(href="")
    i.icon-location_off.d-block
    small icon-location_off
  span.btn.width-30(href="")
    i.icon-room.d-block
    small icon-room
  span.btn.width-30(href="")
    i.icon-lock_open.d-block
    small icon-lock_open
  span.btn.width-30(href="")
    i.icon-lock_outline.d-block
    small icon-lock_outline
  span.btn.width-30(href="")
    i.icon-looks.d-block
    small icon-looks
  span.btn.width-30(href="")
    i.icon-looks_3.d-block
    small icon-looks_3
  span.btn.width-30(href="")
    i.icon-looks_4.d-block
    small icon-looks_4
  span.btn.width-30(href="")
    i.icon-looks_5.d-block
    small icon-looks_5
  span.btn.width-30(href="")
    i.icon-looks_6.d-block
    small icon-looks_6
  span.btn.width-30(href="")
    i.icon-looks_one.d-block
    small icon-looks_one
  span.btn.width-30(href="")
    i.icon-looks_two.d-block
    small icon-looks_two
  span.btn.width-30(href="")
    i.icon-sync.d-block
    small icon-sync
  span.btn.width-30(href="")
    i.icon-loupe.d-block
    small icon-loupe
  span.btn.width-30(href="")
    i.icon-low_priority.d-block
    small icon-low_priority
  span.btn.width-30(href="")
    i.icon-loyalty.d-block
    small icon-loyalty
  span.btn.width-30(href="")
    i.icon-mail_outline.d-block
    small icon-mail_outline
  span.btn.width-30(href="")
    i.icon-map.d-block
    small icon-map
  span.btn.width-30(href="")
    i.icon-markunread_mailbox.d-block
    small icon-markunread_mailbox
  span.btn.width-30(href="")
    i.icon-memory.d-block
    small icon-memory
  span.btn.width-30(href="")
    i.icon-menu.d-block
    small icon-menu
  span.btn.width-30(href="")
    i.icon-message.d-block
    small icon-message
  span.btn.width-30(href="")
    i.icon-mic.d-block
    small icon-mic
  span.btn.width-30(href="")
    i.icon-mic_none.d-block
    small icon-mic_none
  span.btn.width-30(href="")
    i.icon-mic_off.d-block
    small icon-mic_off
  span.btn.width-30(href="")
    i.icon-mms.d-block
    small icon-mms
  span.btn.width-30(href="")
    i.icon-mode_comment.d-block
    small icon-mode_comment
  span.btn.width-30(href="")
    i.icon-monetization_on.d-block
    small icon-monetization_on
  span.btn.width-30(href="")
    i.icon-money_off.d-block
    small icon-money_off
  span.btn.width-30(href="")
    i.icon-monochrome_photos.d-block
    small icon-monochrome_photos
  span.btn.width-30(href="")
    i.icon-mood_bad.d-block
    small icon-mood_bad
  span.btn.width-30(href="")
    i.icon-more.d-block
    small icon-more
  span.btn.width-30(href="")
    i.icon-more_horiz.d-block
    small icon-more_horiz
  span.btn.width-30(href="")
    i.icon-more_vert.d-block
    small icon-more_vert
  span.btn.width-30(href="")
    i.icon-motorcycle.d-block
    small icon-motorcycle
  span.btn.width-30(href="")
    i.icon-mouse.d-block
    small icon-mouse
  span.btn.width-30(href="")
    i.icon-move_to_inbox.d-block
    small icon-move_to_inbox
  span.btn.width-30(href="")
    i.icon-movie_creation.d-block
    small icon-movie_creation
  span.btn.width-30(href="")
    i.icon-movie_filter.d-block
    small icon-movie_filter
  span.btn.width-30(href="")
    i.icon-multiline_chart.d-block
    small icon-multiline_chart
  span.btn.width-30(href="")
    i.icon-music_note.d-block
    small icon-music_note
  span.btn.width-30(href="")
    i.icon-music_video.d-block
    small icon-music_video
  span.btn.width-30(href="")
    i.icon-nature.d-block
    small icon-nature
  span.btn.width-30(href="")
    i.icon-nature_people.d-block
    small icon-nature_people
  span.btn.width-30(href="")
    i.icon-navigation.d-block
    small icon-navigation
  span.btn.width-30(href="")
    i.icon-near_me.d-block
    small icon-near_me
  span.btn.width-30(href="")
    i.icon-network_cell.d-block
    small icon-network_cell
  span.btn.width-30(href="")
    i.icon-network_check.d-block
    small icon-network_check
  span.btn.width-30(href="")
    i.icon-network_locked.d-block
    small icon-network_locked
  span.btn.width-30(href="")
    i.icon-network_wifi.d-block
    small icon-network_wifi
  span.btn.width-30(href="")
    i.icon-new_releases.d-block
    small icon-new_releases
  span.btn.width-30(href="")
    i.icon-next_week.d-block
    small icon-next_week
  span.btn.width-30(href="")
    i.icon-nfc.d-block
    small icon-nfc
  span.btn.width-30(href="")
    i.icon-no_encryption.d-block
    small icon-no_encryption
  span.btn.width-30(href="")
    i.icon-signal_cellular_no_sim.d-block
    small icon-signal_cellular_no_sim
  span.btn.width-30(href="")
    i.icon-note.d-block
    small icon-note
  span.btn.width-30(href="")
    i.icon-note_add.d-block
    small icon-note_add
  span.btn.width-30(href="")
    i.icon-notifications.d-block
    small icon-notifications
  span.btn.width-30(href="")
    i.icon-notifications_active.d-block
    small icon-notifications_active
  span.btn.width-30(href="")
    i.icon-notifications_none.d-block
    small icon-notifications_none
  span.btn.width-30(href="")
    i.icon-notifications_off.d-block
    small icon-notifications_off
  span.btn.width-30(href="")
    i.icon-notifications_paused.d-block
    small icon-notifications_paused
  span.btn.width-30(href="")
    i.icon-offline_pin.d-block
    small icon-offline_pin
  span.btn.width-30(href="")
    i.icon-ondemand_video.d-block
    small icon-ondemand_video
  span.btn.width-30(href="")
    i.icon-opacity.d-block
    small icon-opacity
  span.btn.width-30(href="")
    i.icon-open_in_browser.d-block
    small icon-open_in_browser
  span.btn.width-30(href="")
    i.icon-open_with.d-block
    small icon-open_with
  span.btn.width-30(href="")
    i.icon-pages.d-block
    small icon-pages
  span.btn.width-30(href="")
    i.icon-pageview.d-block
    small icon-pageview
  span.btn.width-30(href="")
    i.icon-pan_tool.d-block
    small icon-pan_tool
  span.btn.width-30(href="")
    i.icon-panorama.d-block
    small icon-panorama
  span.btn.width-30(href="")
    i.icon-radio_button_unchecked.d-block
    small icon-radio_button_unchecked
  span.btn.width-30(href="")
    i.icon-panorama_horizontal.d-block
    small icon-panorama_horizontal
  span.btn.width-30(href="")
    i.icon-panorama_vertical.d-block
    small icon-panorama_vertical
  span.btn.width-30(href="")
    i.icon-panorama_wide_angle.d-block
    small icon-panorama_wide_angle
  span.btn.width-30(href="")
    i.icon-party_mode.d-block
    small icon-party_mode
  span.btn.width-30(href="")
    i.icon-pause.d-block
    small icon-pause
  span.btn.width-30(href="")
    i.icon-pause_circle_filled.d-block
    small icon-pause_circle_filled
  span.btn.width-30(href="")
    i.icon-pause_circle_outline.d-block
    small icon-pause_circle_outline
  span.btn.width-30(href="")
    i.icon-people_outline.d-block
    small icon-people_outline
  span.btn.width-30(href="")
    i.icon-perm_camera_mic.d-block
    small icon-perm_camera_mic
  span.btn.width-30(href="")
    i.icon-perm_contact_calendar.d-block
    small icon-perm_contact_calendar
  span.btn.width-30(href="")
    i.icon-perm_data_setting.d-block
    small icon-perm_data_setting
  span.btn.width-30(href="")
    i.icon-perm_device_information.d-block
    small icon-perm_device_information
  span.btn.width-30(href="")
    i.icon-person_outline.d-block
    small icon-person_outline
  span.btn.width-30(href="")
    i.icon-perm_media.d-block
    small icon-perm_media
  span.btn.width-30(href="")
    i.icon-perm_phone_msg.d-block
    small icon-perm_phone_msg
  span.btn.width-30(href="")
    i.icon-perm_scan_wifi.d-block
    small icon-perm_scan_wifi
  span.btn.width-30(href="")
    i.icon-person.d-block
    small icon-person
  span.btn.width-30(href="")
    i.icon-person_add.d-block
    small icon-person_add
  span.btn.width-30(href="")
    i.icon-person_pin.d-block
    small icon-person_pin
  span.btn.width-30(href="")
    i.icon-person_pin_circle.d-block
    small icon-person_pin_circle
  span.btn.width-30(href="")
    i.icon-personal_video.d-block
    small icon-personal_video
  span.btn.width-30(href="")
    i.icon-pets.d-block
    small icon-pets
  span.btn.width-30(href="")
    i.icon-phone_android.d-block
    small icon-phone_android
  span.btn.width-30(href="")
    i.icon-phone_bluetooth_speaker.d-block
    small icon-phone_bluetooth_speaker
  span.btn.width-30(href="")
    i.icon-phone_forwarded.d-block
    small icon-phone_forwarded
  span.btn.width-30(href="")
    i.icon-phone_in_talk.d-block
    small icon-phone_in_talk
  span.btn.width-30(href="")
    i.icon-phone_iphone.d-block
    small icon-phone_iphone
  span.btn.width-30(href="")
    i.icon-phone_locked.d-block
    small icon-phone_locked
  span.btn.width-30(href="")
    i.icon-phone_missed.d-block
    small icon-phone_missed
  span.btn.width-30(href="")
    i.icon-phone_paused.d-block
    small icon-phone_paused
  span.btn.width-30(href="")
    i.icon-phonelink_erase.d-block
    small icon-phonelink_erase
  span.btn.width-30(href="")
    i.icon-phonelink_lock.d-block
    small icon-phonelink_lock
  span.btn.width-30(href="")
    i.icon-phonelink_off.d-block
    small icon-phonelink_off
  span.btn.width-30(href="")
    i.icon-phonelink_ring.d-block
    small icon-phonelink_ring
  span.btn.width-30(href="")
    i.icon-phonelink_setup.d-block
    small icon-phonelink_setup
  span.btn.width-30(href="")
    i.icon-photo_album.d-block
    small icon-photo_album
  span.btn.width-30(href="")
    i.icon-photo_filter.d-block
    small icon-photo_filter
  span.btn.width-30(href="")
    i.icon-photo_size_select_actual.d-block
    small icon-photo_size_select_actual
  span.btn.width-30(href="")
    i.icon-photo_size_select_large.d-block
    small icon-photo_size_select_large
  span.btn.width-30(href="")
    i.icon-photo_size_select_small.d-block
    small icon-photo_size_select_small
  span.btn.width-30(href="")
    i.icon-picture_as_pdf.d-block
    small icon-picture_as_pdf
  span.btn.width-30(href="")
    i.icon-picture_in_picture.d-block
    small icon-picture_in_picture
  span.btn.width-30(href="")
    i.icon-picture_in_picture_alt.d-block
    small icon-picture_in_picture_alt
  span.btn.width-30(href="")
    i.icon-pie_chart.d-block
    small icon-pie_chart
  span.btn.width-30(href="")
    i.icon-pie_chart_outlined.d-block
    small icon-pie_chart_outlined
  span.btn.width-30(href="")
    i.icon-pin_drop.d-block
    small icon-pin_drop
  span.btn.width-30(href="")
    i.icon-play_arrow.d-block
    small icon-play_arrow
  span.btn.width-30(href="")
    i.icon-play_circle_filled.d-block
    small icon-play_circle_filled
  span.btn.width-30(href="")
    i.icon-play_circle_outline.d-block
    small icon-play_circle_outline
  span.btn.width-30(href="")
    i.icon-play_for_work.d-block
    small icon-play_for_work
  span.btn.width-30(href="")
    i.icon-playlist_add.d-block
    small icon-playlist_add
  span.btn.width-30(href="")
    i.icon-playlist_add_check.d-block
    small icon-playlist_add_check
  span.btn.width-30(href="")
    i.icon-playlist_play.d-block
    small icon-playlist_play
  span.btn.width-30(href="")
    i.icon-plus_one.d-block
    small icon-plus_one
  span.btn.width-30(href="")
    i.icon-polymer.d-block
    small icon-polymer
  span.btn.width-30(href="")
    i.icon-pool.d-block
    small icon-pool
  span.btn.width-30(href="")
    i.icon-portable_wifi_off.d-block
    small icon-portable_wifi_off
  span.btn.width-30(href="")
    i.icon-portrait.d-block
    small icon-portrait
  span.btn.width-30(href="")
    i.icon-power.d-block
    small icon-power
  span.btn.width-30(href="")
    i.icon-power_input.d-block
    small icon-power_input
  span.btn.width-30(href="")
    i.icon-power_settings_new.d-block
    small icon-power_settings_new
  span.btn.width-30(href="")
    i.icon-pregnant_woman.d-block
    small icon-pregnant_woman
  span.btn.width-30(href="")
    i.icon-present_to_all.d-block
    small icon-present_to_all
  span.btn.width-30(href="")
    i.icon-priority_high.d-block
    small icon-priority_high
  span.btn.width-30(href="")
    i.icon-public.d-block
    small icon-public
  span.btn.width-30(href="")
    i.icon-publish.d-block
    small icon-publish
  span.btn.width-30(href="")
    i.icon-queue_music.d-block
    small icon-queue_music
  span.btn.width-30(href="")
    i.icon-queue_play_next.d-block
    small icon-queue_play_next
  span.btn.width-30(href="")
    i.icon-radio.d-block
    small icon-radio
  span.btn.width-30(href="")
    i.icon-radio_button_checked.d-block
    small icon-radio_button_checked
  span.btn.width-30(href="")
    i.icon-rate_review.d-block
    small icon-rate_review
  span.btn.width-30(href="")
    i.icon-receipt.d-block
    small icon-receipt
  span.btn.width-30(href="")
    i.icon-recent_actors.d-block
    small icon-recent_actors
  span.btn.width-30(href="")
    i.icon-record_voice_over.d-block
    small icon-record_voice_over
  span.btn.width-30(href="")
    i.icon-redo.d-block
    small icon-redo
  span.btn.width-30(href="")
    i.icon-refresh.d-block
    small icon-refresh
  span.btn.width-30(href="")
    i.icon-remove.d-block
    small icon-remove
  span.btn.width-30(href="")
    i.icon-remove_circle_outline.d-block
    small icon-remove_circle_outline
  span.btn.width-30(href="")
    i.icon-remove_from_queue.d-block
    small icon-remove_from_queue
  span.btn.width-30(href="")
    i.icon-visibility.d-block
    small icon-visibility
  span.btn.width-30(href="")
    i.icon-remove_shopping_cart.d-block
    small icon-remove_shopping_cart
  span.btn.width-30(href="")
    i.icon-reorder.d-block
    small icon-reorder
  span.btn.width-30(href="")
    i.icon-repeat.d-block
    small icon-repeat
  span.btn.width-30(href="")
    i.icon-repeat_one.d-block
    small icon-repeat_one
  span.btn.width-30(href="")
    i.icon-replay.d-block
    small icon-replay
  span.btn.width-30(href="")
    i.icon-replay_10.d-block
    small icon-replay_10
  span.btn.width-30(href="")
    i.icon-replay_30.d-block
    small icon-replay_30
  span.btn.width-30(href="")
    i.icon-replay_5.d-block
    small icon-replay_5
  span.btn.width-30(href="")
    i.icon-reply.d-block
    small icon-reply
  span.btn.width-30(href="")
    i.icon-reply_all.d-block
    small icon-reply_all
  span.btn.width-30(href="")
    i.icon-report.d-block
    small icon-report
  span.btn.width-30(href="")
    i.icon-warning.d-block
    small icon-warning
  span.btn.width-30(href="")
    i.icon-restaurant.d-block
    small icon-restaurant
  span.btn.width-30(href="")
    i.icon-restore_page.d-block
    small icon-restore_page
  span.btn.width-30(href="")
    i.icon-ring_volume.d-block
    small icon-ring_volume
  span.btn.width-30(href="")
    i.icon-room_service.d-block
    small icon-room_service
  span.btn.width-30(href="")
    i.icon-rotate_90_degrees_ccw.d-block
    small icon-rotate_90_degrees_ccw
  span.btn.width-30(href="")
    i.icon-rotate_left.d-block
    small icon-rotate_left
  span.btn.width-30(href="")
    i.icon-rotate_right.d-block
    small icon-rotate_right
  span.btn.width-30(href="")
    i.icon-rounded_corner.d-block
    small icon-rounded_corner
  span.btn.width-30(href="")
    i.icon-router.d-block
    small icon-router
  span.btn.width-30(href="")
    i.icon-rowing.d-block
    small icon-rowing
  span.btn.width-30(href="")
    i.icon-rss_feed.d-block
    small icon-rss_feed
  span.btn.width-30(href="")
    i.icon-rv_hookup.d-block
    small icon-rv_hookup
  span.btn.width-30(href="")
    i.icon-satellite.d-block
    small icon-satellite
  span.btn.width-30(href="")
    i.icon-save.d-block
    small icon-save
  span.btn.width-30(href="")
    i.icon-scanner.d-block
    small icon-scanner
  span.btn.width-30(href="")
    i.icon-school.d-block
    small icon-school
  span.btn.width-30(href="")
    i.icon-screen_lock_landscape.d-block
    small icon-screen_lock_landscape
  span.btn.width-30(href="")
    i.icon-screen_lock_portrait.d-block
    small icon-screen_lock_portrait
  span.btn.width-30(href="")
    i.icon-screen_lock_rotation.d-block
    small icon-screen_lock_rotation
  span.btn.width-30(href="")
    i.icon-screen_rotation.d-block
    small icon-screen_rotation
  span.btn.width-30(href="")
    i.icon-screen_share.d-block
    small icon-screen_share
  span.btn.width-30(href="")
    i.icon-sd_storage.d-block
    small icon-sd_storage
  span.btn.width-30(href="")
    i.icon-search.d-block
    small icon-search
  span.btn.width-30(href="")
    i.icon-security.d-block
    small icon-security
  span.btn.width-30(href="")
    i.icon-select_all.d-block
    small icon-select_all
  span.btn.width-30(href="")
    i.icon-send.d-block
    small icon-send
  span.btn.width-30(href="")
    i.icon-sentiment_dissatisfied.d-block
    small icon-sentiment_dissatisfied
  span.btn.width-30(href="")
    i.icon-sentiment_neutral.d-block
    small icon-sentiment_neutral
  span.btn.width-30(href="")
    i.icon-sentiment_satisfied.d-block
    small icon-sentiment_satisfied
  span.btn.width-30(href="")
    i.icon-sentiment_very_dissatisfied.d-block
    small icon-sentiment_very_dissatisfied
  span.btn.width-30(href="")
    i.icon-sentiment_very_satisfied.d-block
    small icon-sentiment_very_satisfied
  span.btn.width-30(href="")
    i.icon-settings.d-block
    small icon-settings
  span.btn.width-30(href="")
    i.icon-settings_applications.d-block
    small icon-settings_applications
  span.btn.width-30(href="")
    i.icon-settings_backup_restore.d-block
    small icon-settings_backup_restore
  span.btn.width-30(href="")
    i.icon-settings_bluetooth.d-block
    small icon-settings_bluetooth
  span.btn.width-30(href="")
    i.icon-settings_brightness.d-block
    small icon-settings_brightness
  span.btn.width-30(href="")
    i.icon-settings_cell.d-block
    small icon-settings_cell
  span.btn.width-30(href="")
    i.icon-settings_ethernet.d-block
    small icon-settings_ethernet
  span.btn.width-30(href="")
    i.icon-settings_input_antenna.d-block
    small icon-settings_input_antenna
  span.btn.width-30(href="")
    i.icon-settings_input_composite.d-block
    small icon-settings_input_composite
  span.btn.width-30(href="")
    i.icon-settings_input_hdmi.d-block
    small icon-settings_input_hdmi
  span.btn.width-30(href="")
    i.icon-settings_input_svideo.d-block
    small icon-settings_input_svideo
  span.btn.width-30(href="")
    i.icon-settings_overscan.d-block
    small icon-settings_overscan
  span.btn.width-30(href="")
    i.icon-settings_phone.d-block
    small icon-settings_phone
  span.btn.width-30(href="")
    i.icon-settings_power.d-block
    small icon-settings_power
  span.btn.width-30(href="")
    i.icon-settings_remote.d-block
    small icon-settings_remote
  span.btn.width-30(href="")
    i.icon-settings_system_daydream.d-block
    small icon-settings_system_daydream
  span.btn.width-30(href="")
    i.icon-settings_voice.d-block
    small icon-settings_voice
  span.btn.width-30(href="")
    i.icon-share.d-block
    small icon-share
  span.btn.width-30(href="")
    i.icon-shop.d-block
    small icon-shop
  span.btn.width-30(href="")
    i.icon-shop_two.d-block
    small icon-shop_two
  span.btn.width-30(href="")
    i.icon-shopping_basket.d-block
    small icon-shopping_basket
  span.btn.width-30(href="")
    i.icon-short_text.d-block
    small icon-short_text
  span.btn.width-30(href="")
    i.icon-show_chart.d-block
    small icon-show_chart
  span.btn.width-30(href="")
    i.icon-shuffle.d-block
    small icon-shuffle
  span.btn.width-30(href="")
    i.icon-signal_cellular_4_bar.d-block
    small icon-signal_cellular_4_bar
  span.btn.width-30(href="")
    i.icon-signal_cellular_connected_no_internet_4_bar.d-block
    small icon-signal_cellular_connected_no_internet_4_bar
  span.btn.width-30(href="")
    i.icon-signal_cellular_null.d-block
    small icon-signal_cellular_null
  span.btn.width-30(href="")
    i.icon-signal_cellular_off.d-block
    small icon-signal_cellular_off
  span.btn.width-30(href="")
    i.icon-signal_wifi_4_bar.d-block
    small icon-signal_wifi_4_bar
  span.btn.width-30(href="")
    i.icon-signal_wifi_4_bar_lock.d-block
    small icon-signal_wifi_4_bar_lock
  span.btn.width-30(href="")
    i.icon-signal_wifi_off.d-block
    small icon-signal_wifi_off
  span.btn.width-30(href="")
    i.icon-sim_card.d-block
    small icon-sim_card
  span.btn.width-30(href="")
    i.icon-sim_card_alert.d-block
    small icon-sim_card_alert
  span.btn.width-30(href="")
    i.icon-skip_next.d-block
    small icon-skip_next
  span.btn.width-30(href="")
    i.icon-skip_previous.d-block
    small icon-skip_previous
  span.btn.width-30(href="")
    i.icon-slideshow.d-block
    small icon-slideshow
  span.btn.width-30(href="")
    i.icon-slow_motion_video.d-block
    small icon-slow_motion_video
  span.btn.width-30(href="")
    i.icon-stay_primary_portrait.d-block
    small icon-stay_primary_portrait
  span.btn.width-30(href="")
    i.icon-smoke_free.d-block
    small icon-smoke_free
  span.btn.width-30(href="")
    i.icon-smoking_rooms.d-block
    small icon-smoking_rooms
  span.btn.width-30(href="")
    i.icon-textsms.d-block
    small icon-textsms
  span.btn.width-30(href="")
    i.icon-snooze.d-block
    small icon-snooze
  span.btn.width-30(href="")
    i.icon-sort.d-block
    small icon-sort
  span.btn.width-30(href="")
    i.icon-sort_by_alpha.d-block
    small icon-sort_by_alpha
  span.btn.width-30(href="")
    i.icon-spa.d-block
    small icon-spa
  span.btn.width-30(href="")
    i.icon-space_bar.d-block
    small icon-space_bar
  span.btn.width-30(href="")
    i.icon-speaker.d-block
    small icon-speaker
  span.btn.width-30(href="")
    i.icon-speaker_group.d-block
    small icon-speaker_group
  span.btn.width-30(href="")
    i.icon-speaker_notes.d-block
    small icon-speaker_notes
  span.btn.width-30(href="")
    i.icon-speaker_notes_off.d-block
    small icon-speaker_notes_off
  span.btn.width-30(href="")
    i.icon-speaker_phone.d-block
    small icon-speaker_phone
  span.btn.width-30(href="")
    i.icon-spellcheck.d-block
    small icon-spellcheck
  span.btn.width-30(href="")
    i.icon-star_border.d-block
    small icon-star_border
  span.btn.width-30(href="")
    i.icon-star_half.d-block
    small icon-star_half
  span.btn.width-30(href="")
    i.icon-stars.d-block
    small icon-stars
  span.btn.width-30(href="")
    i.icon-stay_primary_landscape.d-block
    small icon-stay_primary_landscape
  span.btn.width-30(href="")
    i.icon-stop.d-block
    small icon-stop
  span.btn.width-30(href="")
    i.icon-stop_screen_share.d-block
    small icon-stop_screen_share
  span.btn.width-30(href="")
    i.icon-storage.d-block
    small icon-storage
  span.btn.width-30(href="")
    i.icon-store_mall_directory.d-block
    small icon-store_mall_directory
  span.btn.width-30(href="")
    i.icon-straighten.d-block
    small icon-straighten
  span.btn.width-30(href="")
    i.icon-streetview.d-block
    small icon-streetview
  span.btn.width-30(href="")
    i.icon-strikethrough_s.d-block
    small icon-strikethrough_s
  span.btn.width-30(href="")
    i.icon-style.d-block
    small icon-style
  span.btn.width-30(href="")
    i.icon-subdirectory_arrow_left.d-block
    small icon-subdirectory_arrow_left
  span.btn.width-30(href="")
    i.icon-subdirectory_arrow_right.d-block
    small icon-subdirectory_arrow_right
  span.btn.width-30(href="")
    i.icon-subject.d-block
    small icon-subject
  span.btn.width-30(href="")
    i.icon-subscriptions.d-block
    small icon-subscriptions
  span.btn.width-30(href="")
    i.icon-subtitles.d-block
    small icon-subtitles
  span.btn.width-30(href="")
    i.icon-subway.d-block
    small icon-subway
  span.btn.width-30(href="")
    i.icon-supervisor_account.d-block
    small icon-supervisor_account
  span.btn.width-30(href="")
    i.icon-surround_sound.d-block
    small icon-surround_sound
  span.btn.width-30(href="")
    i.icon-swap_calls.d-block
    small icon-swap_calls
  span.btn.width-30(href="")
    i.icon-swap_horiz.d-block
    small icon-swap_horiz
  span.btn.width-30(href="")
    i.icon-swap_vert.d-block
    small icon-swap_vert
  span.btn.width-30(href="")
    i.icon-swap_vertical_circle.d-block
    small icon-swap_vertical_circle
  span.btn.width-30(href="")
    i.icon-switch_camera.d-block
    small icon-switch_camera
  span.btn.width-30(href="")
    i.icon-switch_video.d-block
    small icon-switch_video
  span.btn.width-30(href="")
    i.icon-sync_disabled.d-block
    small icon-sync_disabled
  span.btn.width-30(href="")
    i.icon-sync_problem.d-block
    small icon-sync_problem
  span.btn.width-30(href="")
    i.icon-system_update.d-block
    small icon-system_update
  span.btn.width-30(href="")
    i.icon-system_update_alt.d-block
    small icon-system_update_alt
  span.btn.width-30(href="")
    i.icon-tab.d-block
    small icon-tab
  span.btn.width-30(href="")
    i.icon-tab_unselected.d-block
    small icon-tab_unselected
  span.btn.width-30(href="")
    i.icon-tablet.d-block
    small icon-tablet
  span.btn.width-30(href="")
    i.icon-tablet_android.d-block
    small icon-tablet_android
  span.btn.width-30(href="")
    i.icon-tablet_mac.d-block
    small icon-tablet_mac
  span.btn.width-30(href="")
    i.icon-tap_and_play.d-block
    small icon-tap_and_play
  span.btn.width-30(href="")
    i.icon-text_fields.d-block
    small icon-text_fields
  span.btn.width-30(href="")
    i.icon-text_format.d-block
    small icon-text_format
  span.btn.width-30(href="")
    i.icon-texture.d-block
    small icon-texture
  span.btn.width-30(href="")
    i.icon-thumb_down.d-block
    small icon-thumb_down
  span.btn.width-30(href="")
    i.icon-thumb_up.d-block
    small icon-thumb_up
  span.btn.width-30(href="")
    i.icon-thumbs_up_down.d-block
    small icon-thumbs_up_down
  span.btn.width-30(href="")
    i.icon-timelapse.d-block
    small icon-timelapse
  span.btn.width-30(href="")
    i.icon-timeline.d-block
    small icon-timeline
  span.btn.width-30(href="")
    i.icon-timer.d-block
    small icon-timer
  span.btn.width-30(href="")
    i.icon-timer_10.d-block
    small icon-timer_10
  span.btn.width-30(href="")
    i.icon-timer_3.d-block
    small icon-timer_3
  span.btn.width-30(href="")
    i.icon-timer_off.d-block
    small icon-timer_off
  span.btn.width-30(href="")
    i.icon-title.d-block
    small icon-title
  span.btn.width-30(href="")
    i.icon-toc.d-block
    small icon-toc
  span.btn.width-30(href="")
    i.icon-today.d-block
    small icon-today
  span.btn.width-30(href="")
    i.icon-toll.d-block
    small icon-toll
  span.btn.width-30(href="")
    i.icon-tonality.d-block
    small icon-tonality
  span.btn.width-30(href="")
    i.icon-touch_app.d-block
    small icon-touch_app
  span.btn.width-30(href="")
    i.icon-toys.d-block
    small icon-toys
  span.btn.width-30(href="")
    i.icon-track_changes.d-block
    small icon-track_changes
  span.btn.width-30(href="")
    i.icon-traffic.d-block
    small icon-traffic
  span.btn.width-30(href="")
    i.icon-train.d-block
    small icon-train
  span.btn.width-30(href="")
    i.icon-tram.d-block
    small icon-tram
  span.btn.width-30(href="")
    i.icon-transfer_within_a_station.d-block
    small icon-transfer_within_a_station
  span.btn.width-30(href="")
    i.icon-transform.d-block
    small icon-transform
  span.btn.width-30(href="")
    i.icon-translate.d-block
    small icon-translate
  span.btn.width-30(href="")
    i.icon-trending_down.d-block
    small icon-trending_down
  span.btn.width-30(href="")
    i.icon-trending_flat.d-block
    small icon-trending_flat
  span.btn.width-30(href="")
    i.icon-trending_up.d-block
    small icon-trending_up
  span.btn.width-30(href="")
    i.icon-tune.d-block
    small icon-tune
  span.btn.width-30(href="")
    i.icon-tv.d-block
    small icon-tv
  span.btn.width-30(href="")
    i.icon-unarchive.d-block
    small icon-unarchive
  span.btn.width-30(href="")
    i.icon-undo.d-block
    small icon-undo
  span.btn.width-30(href="")
    i.icon-unfold_less.d-block
    small icon-unfold_less
  span.btn.width-30(href="")
    i.icon-unfold_more.d-block
    small icon-unfold_more
  span.btn.width-30(href="")
    i.icon-update.d-block
    small icon-update
  span.btn.width-30(href="")
    i.icon-usb.d-block
    small icon-usb
  span.btn.width-30(href="")
    i.icon-verified_user.d-block
    small icon-verified_user
  span.btn.width-30(href="")
    i.icon-vertical_align_bottom.d-block
    small icon-vertical_align_bottom
  span.btn.width-30(href="")
    i.icon-vertical_align_center.d-block
    small icon-vertical_align_center
  span.btn.width-30(href="")
    i.icon-vertical_align_top.d-block
    small icon-vertical_align_top
  span.btn.width-30(href="")
    i.icon-vibration.d-block
    small icon-vibration
  span.btn.width-30(href="")
    i.icon-video_call.d-block
    small icon-video_call
  span.btn.width-30(href="")
    i.icon-video_label.d-block
    small icon-video_label
  span.btn.width-30(href="")
    i.icon-video_library.d-block
    small icon-video_library
  span.btn.width-30(href="")
    i.icon-videocam.d-block
    small icon-videocam
  span.btn.width-30(href="")
    i.icon-videocam_off.d-block
    small icon-videocam_off
  span.btn.width-30(href="")
    i.icon-videogame_asset.d-block
    small icon-videogame_asset
  span.btn.width-30(href="")
    i.icon-view_agenda.d-block
    small icon-view_agenda
  span.btn.width-30(href="")
    i.icon-view_array.d-block
    small icon-view_array
  span.btn.width-30(href="")
    i.icon-view_carousel.d-block
    small icon-view_carousel
  span.btn.width-30(href="")
    i.icon-view_column.d-block
    small icon-view_column
  span.btn.width-30(href="")
    i.icon-view_comfy.d-block
    small icon-view_comfy
  span.btn.width-30(href="")
    i.icon-view_compact.d-block
    small icon-view_compact
  span.btn.width-30(href="")
    i.icon-view_day.d-block
    small icon-view_day
  span.btn.width-30(href="")
    i.icon-view_headline.d-block
    small icon-view_headline
  span.btn.width-30(href="")
    i.icon-view_list.d-block
    small icon-view_list
  span.btn.width-30(href="")
    i.icon-view_module.d-block
    small icon-view_module
  span.btn.width-30(href="")
    i.icon-view_quilt.d-block
    small icon-view_quilt
  span.btn.width-30(href="")
    i.icon-view_stream.d-block
    small icon-view_stream
  span.btn.width-30(href="")
    i.icon-view_week.d-block
    small icon-view_week
  span.btn.width-30(href="")
    i.icon-vignette.d-block
    small icon-vignette
  span.btn.width-30(href="")
    i.icon-visibility_off.d-block
    small icon-visibility_off
  span.btn.width-30(href="")
    i.icon-voice_chat.d-block
    small icon-voice_chat
  span.btn.width-30(href="")
    i.icon-voicemail.d-block
    small icon-voicemail
  span.btn.width-30(href="")
    i.icon-volume_down.d-block
    small icon-volume_down
  span.btn.width-30(href="")
    i.icon-volume_mute.d-block
    small icon-volume_mute
  span.btn.width-30(href="")
    i.icon-volume_off.d-block
    small icon-volume_off
  span.btn.width-30(href="")
    i.icon-volume_up.d-block
    small icon-volume_up
  span.btn.width-30(href="")
    i.icon-vpn_key.d-block
    small icon-vpn_key
  span.btn.width-30(href="")
    i.icon-vpn_lock.d-block
    small icon-vpn_lock
  span.btn.width-30(href="")
    i.icon-wallpaper.d-block
    small icon-wallpaper
  span.btn.width-30(href="")
    i.icon-watch.d-block
    small icon-watch
  span.btn.width-30(href="")
    i.icon-watch_later.d-block
    small icon-watch_later
  span.btn.width-30(href="")
    i.icon-wb_auto.d-block
    small icon-wb_auto
  span.btn.width-30(href="")
    i.icon-wb_incandescent.d-block
    small icon-wb_incandescent
  span.btn.width-30(href="")
    i.icon-wb_iridescent.d-block
    small icon-wb_iridescent
  span.btn.width-30(href="")
    i.icon-wb_sunny.d-block
    small icon-wb_sunny
  span.btn.width-30(href="")
    i.icon-wc.d-block
    small icon-wc
  span.btn.width-30(href="")
    i.icon-web.d-block
    small icon-web
  span.btn.width-30(href="")
    i.icon-web_asset.d-block
    small icon-web_asset
  span.btn.width-30(href="")
    i.icon-weekend.d-block
    small icon-weekend
  span.btn.width-30(href="")
    i.icon-whatshot.d-block
    small icon-whatshot
  span.btn.width-30(href="")
    i.icon-widgets.d-block
    small icon-widgets
  span.btn.width-30(href="")
    i.icon-wifi.d-block
    small icon-wifi
  span.btn.width-30(href="")
    i.icon-wifi_lock.d-block
    small icon-wifi_lock
  span.btn.width-30(href="")
    i.icon-wifi_tethering.d-block
    small icon-wifi_tethering
  span.btn.width-30(href="")
    i.icon-work.d-block
    small icon-work
  span.btn.width-30(href="")
    i.icon-wrap_text.d-block
    small icon-wrap_text
  span.btn.width-30(href="")
    i.icon-youtube_searched_for.d-block
    small icon-youtube_searched_for
  span.btn.width-30(href="")
    i.icon-zoom_in.d-block
    small icon-zoom_in
  span.btn.width-30(href="")
    i.icon-zoom_out.d-block
    small icon-zoom_out
  span.btn.width-30(href="")
    i.icon-zoom_out_map.d-block
    small icon-zoom_out_map
