.grid-wrap.grid-wrap-90
  h1.title-section Glyphicons
  p we are using the material design glyphicons
  a.btn.icon-3d_rotation(href="")
  a.btn.icon-ac_unit(href="")
  a.btn.icon-alarm(href="")
  a.btn.icon-access_alarms(href="")
  a.btn.icon-schedule(href="")
  a.btn.icon-accessibility(href="")
  a.btn.icon-accessible(href="")
  a.btn.icon-account_balance(href="")
  a.btn.icon-account_balance_wallet(href="")
  a.btn.icon-account_box(href="")
  a.btn.icon-account_circle(href="")
  a.btn.icon-adb(href="")
  a.btn.icon-add(href="")
  a.btn.icon-add_a_photo(href="")
  a.btn.icon-alarm_add(href="")
  a.btn.icon-add_alert(href="")
  a.btn.icon-add_box(href="")
  a.btn.icon-add_circle(href="")
  a.btn.icon-control_point(href="")
  a.btn.icon-add_location(href="")
  a.btn.icon-add_shopping_cart(href="")
  a.btn.icon-queue(href="")
  a.btn.icon-add_to_queue(href="")
  a.btn.icon-adjust(href="")
  a.btn.icon-airline_seat_flat(href="")
  a.btn.icon-airline_seat_flat_angled(href="")
  a.btn.icon-airline_seat_individual_suite(href="")
  a.btn.icon-airline_seat_legroom_extra(href="")
  a.btn.icon-airline_seat_legroom_normal(href="")
  a.btn.icon-airline_seat_legroom_reduced(href="")
  a.btn.icon-airline_seat_recline_extra(href="")
  a.btn.icon-airline_seat_recline_normal(href="")
  a.btn.icon-flight(href="")
  a.btn.icon-airplanemode_inactive(href="")
  a.btn.icon-airplay(href="")
  a.btn.icon-airport_shuttle(href="")
  a.btn.icon-alarm_off(href="")
  a.btn.icon-alarm_on(href="")
  a.btn.icon-album(href="")
  a.btn.icon-all_inclusive(href="")
  a.btn.icon-all_out(href="")
  a.btn.icon-android(href="")
  a.btn.icon-announcement(href="")
  a.btn.icon-apps(href="")
  a.btn.icon-archive(href="")
  a.btn.icon-arrow_back(href="")
  a.btn.icon-arrow_downward(href="")
  a.btn.icon-arrow_drop_down(href="")
  a.btn.icon-arrow_drop_down_circle(href="")
  a.btn.icon-arrow_drop_up(href="")
  a.btn.icon-arrow_forward(href="")
  a.btn.icon-arrow_upward(href="")
  a.btn.icon-art_track(href="")
  a.btn.icon-aspect_ratio(href="")
  a.btn.icon-poll(href="")
  a.btn.icon-assignment(href="")
  a.btn.icon-assignment_ind(href="")
  a.btn.icon-assignment_late(href="")
  a.btn.icon-assignment_return(href="")
  a.btn.icon-assignment_returned(href="")
  a.btn.icon-assignment_turned_in(href="")
  a.btn.icon-assistant(href="")
  a.btn.icon-flag(href="")
  a.btn.icon-attach_file(href="")
  a.btn.icon-attach_money(href="")
  a.btn.icon-attachment(href="")
  a.btn.icon-audiotrack(href="")
  a.btn.icon-autorenew(href="")
  a.btn.icon-av_timer(href="")
  a.btn.icon-backspace(href="")
  a.btn.icon-cloud_upload(href="")
  a.btn.icon-battery_alert(href="")
  a.btn.icon-battery_charging_full(href="")
  a.btn.icon-battery_std(href="")
  a.btn.icon-battery_unknown(href="")
  a.btn.icon-beach_access(href="")
  a.btn.icon-beenhere(href="")
  a.btn.icon-block(href="")
  a.btn.icon-bluetooth(href="")
  a.btn.icon-bluetooth_searching(href="")
  a.btn.icon-bluetooth_connected(href="")
  a.btn.icon-bluetooth_disabled(href="")
  a.btn.icon-blur_circular(href="")
  a.btn.icon-blur_linear(href="")
  a.btn.icon-blur_off(href="")
  a.btn.icon-blur_on(href="")
  a.btn.icon-class(href="")
  a.btn.icon-turned_in(href="")
  a.btn.icon-turned_in_not(href="")
  a.btn.icon-border_all(href="")
  a.btn.icon-border_bottom(href="")
  a.btn.icon-border_clear(href="")
  a.btn.icon-border_color(href="")
  a.btn.icon-border_horizontal(href="")
  a.btn.icon-border_inner(href="")
  a.btn.icon-border_left(href="")
  a.btn.icon-border_outer(href="")
  a.btn.icon-border_right(href="")
  a.btn.icon-border_style(href="")
  a.btn.icon-border_top(href="")
  a.btn.icon-border_vertical(href="")
  a.btn.icon-branding_watermark(href="")
  a.btn.icon-brightness_1(href="")
  a.btn.icon-brightness_2(href="")
  a.btn.icon-brightness_3(href="")
  a.btn.icon-brightness_4(href="")
  a.btn.icon-brightness_low(href="")
  a.btn.icon-brightness_medium(href="")
  a.btn.icon-brightness_high(href="")
  a.btn.icon-brightness_auto(href="")
  a.btn.icon-broken_image(href="")
  a.btn.icon-brush(href="")
  a.btn.icon-bubble_chart(href="")
  a.btn.icon-bug_report(href="")
  a.btn.icon-build(href="")
  a.btn.icon-burst_mode(href="")
  a.btn.icon-domain(href="")
  a.btn.icon-business_center(href="")
  a.btn.icon-cached(href="")
  a.btn.icon-cake(href="")
  a.btn.icon-phone(href="")
  a.btn.icon-call_end(href="")
  a.btn.icon-call_made(href="")
  a.btn.icon-merge_type(href="")
  a.btn.icon-call_missed(href="")
  a.btn.icon-call_missed_outgoing(href="")
  a.btn.icon-call_received(href="")
  a.btn.icon-call_split(href="")
  a.btn.icon-call_to_action(href="")
  a.btn.icon-camera(href="")
  a.btn.icon-photo_camera(href="")
  a.btn.icon-camera_enhance(href="")
  a.btn.icon-camera_front(href="")
  a.btn.icon-camera_rear(href="")
  a.btn.icon-camera_roll(href="")
  a.btn.icon-cancel(href="")
  a.btn.icon-redeem(href="")
  a.btn.icon-card_membership(href="")
  a.btn.icon-card_travel(href="")
  a.btn.icon-casino(href="")
  a.btn.icon-cast(href="")
  a.btn.icon-cast_connected(href="")
  a.btn.icon-center_focus_strong(href="")
  a.btn.icon-center_focus_weak(href="")
  a.btn.icon-change_history(href="")
  a.btn.icon-chat(href="")
  a.btn.icon-chat_bubble(href="")
  a.btn.icon-chat_bubble_outline(href="")
  a.btn.icon-check(href="")
  a.btn.icon-check_box(href="")
  a.btn.icon-check_box_outline_blank(href="")
  a.btn.icon-check_circle(href="")
  a.btn.icon-navigate_before(href="")
  a.btn.icon-navigate_next(href="")
  a.btn.icon-child_care(href="")
  a.btn.icon-child_friendly(href="")
  a.btn.icon-chrome_reader_mode(href="")
  a.btn.icon-close(href="")
  a.btn.icon-clear_all(href="")
  a.btn.icon-closed_caption(href="")
  a.btn.icon-wb_cloudy(href="")
  a.btn.icon-cloud_circle(href="")
  a.btn.icon-cloud_done(href="")
  a.btn.icon-cloud_download(href="")
  a.btn.icon-cloud_off(href="")
  a.btn.icon-cloud_queue(href="")
  a.btn.icon-code(href="")
  a.btn.icon-photo_library(href="")
  a.btn.icon-collections_bookmark(href="")
  a.btn.icon-palette(href="")
  a.btn.icon-colorize(href="")
  a.btn.icon-comment(href="")
  a.btn.icon-compare(href="")
  a.btn.icon-compare_arrows(href="")
  a.btn.icon-laptop(href="")
  a.btn.icon-confirmation_number(href="")
  a.btn.icon-contact_mail(href="")
  a.btn.icon-contact_phone(href="")
  a.btn.icon-contacts(href="")
  a.btn.icon-content_copy(href="")
  a.btn.icon-content_cut(href="")
  a.btn.icon-content_paste(href="")
  a.btn.icon-control_point_duplicate(href="")
  a.btn.icon-copyright(href="")
  a.btn.icon-mode_edit(href="")
  a.btn.icon-create_new_folder(href="")
  a.btn.icon-payment(href="")
  a.btn.icon-crop(href="")
  a.btn.icon-crop_16_9(href="")
  a.btn.icon-crop_3_2(href="")
  a.btn.icon-crop_landscape(href="")
  a.btn.icon-crop_7_5(href="")
  a.btn.icon-crop_din(href="")
  a.btn.icon-crop_free(href="")
  a.btn.icon-crop_original(href="")
  a.btn.icon-crop_portrait(href="")
  a.btn.icon-crop_rotate(href="")
  a.btn.icon-crop_square(href="")
  a.btn.icon-dashboard(href="")
  a.btn.icon-data_usage(href="")
  a.btn.icon-date_range(href="")
  a.btn.icon-dehaze(href="")
  a.btn.icon-delete(href="")
  a.btn.icon-delete_forever(href="")
  a.btn.icon-delete_sweep(href="")
  a.btn.icon-description(href="")
  a.btn.icon-desktop_mac(href="")
  a.btn.icon-desktop_windows(href="")
  a.btn.icon-details(href="")
  a.btn.icon-developer_board(href="")
  a.btn.icon-developer_mode(href="")
  a.btn.icon-device_hub(href="")
  a.btn.icon-phonelink(href="")
  a.btn.icon-devices_other(href="")
  a.btn.icon-dialer_sip(href="")
  a.btn.icon-dialpad(href="")
  a.btn.icon-directions(href="")
  a.btn.icon-directions_bike(href="")
  a.btn.icon-directions_boat(href="")
  a.btn.icon-directions_bus(href="")
  a.btn.icon-directions_car(href="")
  a.btn.icon-directions_railway(href="")
  a.btn.icon-directions_run(href="")
  a.btn.icon-directions_transit(href="")
  a.btn.icon-directions_walk(href="")
  a.btn.icon-disc_full(href="")
  a.btn.icon-dns(href="")
  a.btn.icon-not_interested(href="")
  a.btn.icon-do_not_disturb_alt(href="")
  a.btn.icon-do_not_disturb_off(href="")
  a.btn.icon-remove_circle(href="")
  a.btn.icon-dock(href="")
  a.btn.icon-done(href="")
  a.btn.icon-done_all(href="")
  a.btn.icon-donut_large(href="")
  a.btn.icon-donut_small(href="")
  a.btn.icon-drafts(href="")
  a.btn.icon-drag_handle(href="")
  a.btn.icon-time_to_leave(href="")
  a.btn.icon-dvr(href="")
  a.btn.icon-edit_location(href="")
  a.btn.icon-eject(href="")
  a.btn.icon-markunread(href="")
  a.btn.icon-enhanced_encryption(href="")
  a.btn.icon-equalizer(href="")
  a.btn.icon-error(href="")
  a.btn.icon-error_outline(href="")
  a.btn.icon-euro_symbol(href="")
  a.btn.icon-ev_station(href="")
  a.btn.icon-insert_invitation(href="")
  a.btn.icon-event_available(href="")
  a.btn.icon-event_busy(href="")
  a.btn.icon-event_note(href="")
  a.btn.icon-event_seat(href="")
  a.btn.icon-exit_to_app(href="")
  a.btn.icon-expand_less(href="")
  a.btn.icon-expand_more(href="")
  a.btn.icon-explicit(href="")
  a.btn.icon-explore(href="")
  a.btn.icon-exposure(href="")
  a.btn.icon-exposure_neg_1(href="")
  a.btn.icon-exposure_neg_2(href="")
  a.btn.icon-exposure_plus_1(href="")
  a.btn.icon-exposure_plus_2(href="")
  a.btn.icon-exposure_zero(href="")
  a.btn.icon-extension(href="")
  a.btn.icon-face(href="")
  a.btn.icon-fast_forward(href="")
  a.btn.icon-fast_rewind(href="")
  a.btn.icon-favorite(href="")
  a.btn.icon-favorite_border(href="")
  a.btn.icon-featured_play_list(href="")
  a.btn.icon-featured_video(href="")
  a.btn.icon-sms_failed(href="")
  a.btn.icon-fiber_dvr(href="")
  a.btn.icon-fiber_manual_record(href="")
  a.btn.icon-fiber_new(href="")
  a.btn.icon-fiber_pin(href="")
  a.btn.icon-fiber_smart_record(href="")
  a.btn.icon-get_app(href="")
  a.btn.icon-file_upload(href="")
  a.btn.icon-filter(href="")
  a.btn.icon-filter_1(href="")
  a.btn.icon-filter_2(href="")
  a.btn.icon-filter_3(href="")
  a.btn.icon-filter_4(href="")
  a.btn.icon-filter_5(href="")
  a.btn.icon-filter_6(href="")
  a.btn.icon-filter_7(href="")
  a.btn.icon-filter_8(href="")
  a.btn.icon-filter_9(href="")
  a.btn.icon-filter_9_plus(href="")
  a.btn.icon-filter_b_and_w(href="")
  a.btn.icon-filter_center_focus(href="")
  a.btn.icon-filter_drama(href="")
  a.btn.icon-filter_frames(href="")
  a.btn.icon-terrain(href="")
  a.btn.icon-filter_list(href="")
  a.btn.icon-filter_none(href="")
  a.btn.icon-filter_tilt_shift(href="")
  a.btn.icon-filter_vintage(href="")
  a.btn.icon-find_in_page(href="")
  a.btn.icon-find_replace(href="")
  a.btn.icon-fingerprint(href="")
  a.btn.icon-first_page(href="")
  a.btn.icon-fitness_center(href="")
  a.btn.icon-flare(href="")
  a.btn.icon-flash_auto(href="")
  a.btn.icon-flash_off(href="")
  a.btn.icon-flash_on(href="")
  a.btn.icon-flight_land(href="")
  a.btn.icon-flight_takeoff(href="")
  a.btn.icon-flip(href="")
  a.btn.icon-flip_to_back(href="")
  a.btn.icon-flip_to_front(href="")
  a.btn.icon-folder(href="")
  a.btn.icon-folder_open(href="")
  a.btn.icon-folder_shared(href="")
  a.btn.icon-folder_special(href="")
  a.btn.icon-font_download(href="")
  a.btn.icon-format_align_center(href="")
  a.btn.icon-format_align_justify(href="")
  a.btn.icon-format_align_left(href="")
  a.btn.icon-format_align_right(href="")
  a.btn.icon-format_bold(href="")
  a.btn.icon-format_clear(href="")
  a.btn.icon-format_color_fill(href="")
  a.btn.icon-format_color_reset(href="")
  a.btn.icon-format_color_text(href="")
  a.btn.icon-format_indent_decrease(href="")
  a.btn.icon-format_indent_increase(href="")
  a.btn.icon-format_italic(href="")
  a.btn.icon-format_line_spacing(href="")
  a.btn.icon-format_list_bulleted(href="")
  a.btn.icon-format_list_numbered(href="")
  a.btn.icon-format_paint(href="")
  a.btn.icon-format_quote(href="")
  a.btn.icon-format_shapes(href="")
  a.btn.icon-format_size(href="")
  a.btn.icon-format_strikethrough(href="")
  a.btn.icon-format_textdirection_l_to_r(href="")
  a.btn.icon-format_textdirection_r_to_l(href="")
  a.btn.icon-format_underlined(href="")
  a.btn.icon-question_answer(href="")
  a.btn.icon-forward(href="")
  a.btn.icon-forward_10(href="")
  a.btn.icon-forward_30(href="")
  a.btn.icon-forward_5(href="")
  a.btn.icon-free_breakfast(href="")
  a.btn.icon-fullscreen(href="")
  a.btn.icon-fullscreen_exit(href="")
  a.btn.icon-functions(href="")
  a.btn.icon-g_translate(href="")
  a.btn.icon-games(href="")
  a.btn.icon-gavel(href="")
  a.btn.icon-gesture(href="")
  a.btn.icon-gif(href="")
  a.btn.icon-goat(href="")
  a.btn.icon-golf_course(href="")
  a.btn.icon-my_location(href="")
  a.btn.icon-location_searching(href="")
  a.btn.icon-location_disabled(href="")
  a.btn.icon-star(href="")
  a.btn.icon-gradient(href="")
  a.btn.icon-grain(href="")
  a.btn.icon-graphic_eq(href="")
  a.btn.icon-grid_off(href="")
  a.btn.icon-grid_on(href="")
  a.btn.icon-people(href="")
  a.btn.icon-group_add(href="")
  a.btn.icon-group_work(href="")
  a.btn.icon-hd(href="")
  a.btn.icon-hdr_off(href="")
  a.btn.icon-hdr_on(href="")
  a.btn.icon-hdr_strong(href="")
  a.btn.icon-hdr_weak(href="")
  a.btn.icon-headset(href="")
  a.btn.icon-headset_mic(href="")
  a.btn.icon-healing(href="")
  a.btn.icon-hearing(href="")
  a.btn.icon-help(href="")
  a.btn.icon-help_outline(href="")
  a.btn.icon-high_quality(href="")
  a.btn.icon-highlight(href="")
  a.btn.icon-highlight_off(href="")
  a.btn.icon-restore(href="")
  a.btn.icon-home(href="")
  a.btn.icon-hot_tub(href="")
  a.btn.icon-local_hotel(href="")
  a.btn.icon-hourglass_empty(href="")
  a.btn.icon-hourglass_full(href="")
  a.btn.icon-http(href="")
  a.btn.icon-lock(href="")
  a.btn.icon-photo(href="")
  a.btn.icon-image_aspect_ratio(href="")
  a.btn.icon-import_contacts(href="")
  a.btn.icon-import_export(href="")
  a.btn.icon-important_devices(href="")
  a.btn.icon-inbox(href="")
  a.btn.icon-indeterminate_check_box(href="")
  a.btn.icon-info(href="")
  a.btn.icon-info_outline(href="")
  a.btn.icon-input(href="")
  a.btn.icon-insert_comment(href="")
  a.btn.icon-insert_drive_file(href="")
  a.btn.icon-tag_faces(href="")
  a.btn.icon-link(href="")
  a.btn.icon-invert_colors(href="")
  a.btn.icon-invert_colors_off(href="")
  a.btn.icon-iso(href="")
  a.btn.icon-keyboard(href="")
  a.btn.icon-keyboard_arrow_down(href="")
  a.btn.icon-keyboard_arrow_left(href="")
  a.btn.icon-keyboard_arrow_right(href="")
  a.btn.icon-keyboard_arrow_up(href="")
  a.btn.icon-keyboard_backspace(href="")
  a.btn.icon-keyboard_capslock(href="")
  a.btn.icon-keyboard_hide(href="")
  a.btn.icon-keyboard_return(href="")
  a.btn.icon-keyboard_tab(href="")
  a.btn.icon-keyboard_voice(href="")
  a.btn.icon-kitchen(href="")
  a.btn.icon-label(href="")
  a.btn.icon-label_outline(href="")
  a.btn.icon-language(href="")
  a.btn.icon-laptop_chromebook(href="")
  a.btn.icon-laptop_mac(href="")
  a.btn.icon-laptop_windows(href="")
  a.btn.icon-last_page(href="")
  a.btn.icon-open_in_new(href="")
  a.btn.icon-layers(href="")
  a.btn.icon-layers_clear(href="")
  a.btn.icon-leak_add(href="")
  a.btn.icon-leak_remove(href="")
  a.btn.icon-lens(href="")
  a.btn.icon-library_books(href="")
  a.btn.icon-library_music(href="")
  a.btn.icon-lightbulb_outline(href="")
  a.btn.icon-line_style(href="")
  a.btn.icon-line_weight(href="")
  a.btn.icon-linear_scale(href="")
  a.btn.icon-linked_camera(href="")
  a.btn.icon-list(href="")
  a.btn.icon-live_help(href="")
  a.btn.icon-live_tv(href="")
  a.btn.icon-local_play(href="")
  a.btn.icon-local_airport(href="")
  a.btn.icon-local_atm(href="")
  a.btn.icon-local_bar(href="")
  a.btn.icon-local_cafe(href="")
  a.btn.icon-local_car_wash(href="")
  a.btn.icon-local_convenience_store(href="")
  a.btn.icon-restaurant_menu(href="")
  a.btn.icon-local_drink(href="")
  a.btn.icon-local_florist(href="")
  a.btn.icon-local_gas_station(href="")
  a.btn.icon-shopping_cart(href="")
  a.btn.icon-local_hospital(href="")
  a.btn.icon-local_laundry_service(href="")
  a.btn.icon-local_library(href="")
  a.btn.icon-local_mall(href="")
  a.btn.icon-theaters(href="")
  a.btn.icon-local_offer(href="")
  a.btn.icon-local_parking(href="")
  a.btn.icon-local_pharmacy(href="")
  a.btn.icon-local_pizza(href="")
  a.btn.icon-print(href="")
  a.btn.icon-local_shipping(href="")
  a.btn.icon-local_taxi(href="")
  a.btn.icon-location_city(href="")
  a.btn.icon-location_off(href="")
  a.btn.icon-room(href="")
  a.btn.icon-lock_open(href="")
  a.btn.icon-lock_outline(href="")
  a.btn.icon-looks(href="")
  a.btn.icon-looks_3(href="")
  a.btn.icon-looks_4(href="")
  a.btn.icon-looks_5(href="")
  a.btn.icon-looks_6(href="")
  a.btn.icon-looks_one(href="")
  a.btn.icon-looks_two(href="")
  a.btn.icon-sync(href="")
  a.btn.icon-loupe(href="")
  a.btn.icon-low_priority(href="")
  a.btn.icon-loyalty(href="")
  a.btn.icon-mail_outline(href="")
  a.btn.icon-map(href="")
  a.btn.icon-markunread_mailbox(href="")
  a.btn.icon-memory(href="")
  a.btn.icon-menu(href="")
  a.btn.icon-message(href="")
  a.btn.icon-mic(href="")
  a.btn.icon-mic_none(href="")
  a.btn.icon-mic_off(href="")
  a.btn.icon-mms(href="")
  a.btn.icon-mode_comment(href="")
  a.btn.icon-monetization_on(href="")
  a.btn.icon-money_off(href="")
  a.btn.icon-monochrome_photos(href="")
  a.btn.icon-mood_bad(href="")
  a.btn.icon-more(href="")
  a.btn.icon-more_horiz(href="")
  a.btn.icon-more_vert(href="")
  a.btn.icon-motorcycle(href="")
  a.btn.icon-mouse(href="")
  a.btn.icon-move_to_inbox(href="")
  a.btn.icon-movie_creation(href="")
  a.btn.icon-movie_filter(href="")
  a.btn.icon-multiline_chart(href="")
  a.btn.icon-music_note(href="")
  a.btn.icon-music_video(href="")
  a.btn.icon-nature(href="")
  a.btn.icon-nature_people(href="")
  a.btn.icon-navigation(href="")
  a.btn.icon-near_me(href="")
  a.btn.icon-network_cell(href="")
  a.btn.icon-network_check(href="")
  a.btn.icon-network_locked(href="")
  a.btn.icon-network_wifi(href="")
  a.btn.icon-new_releases(href="")
  a.btn.icon-next_week(href="")
  a.btn.icon-nfc(href="")
  a.btn.icon-no_encryption(href="")
  a.btn.icon-signal_cellular_no_sim(href="")
  a.btn.icon-note(href="")
  a.btn.icon-note_add(href="")
  a.btn.icon-notifications(href="")
  a.btn.icon-notifications_active(href="")
  a.btn.icon-notifications_none(href="")
  a.btn.icon-notifications_off(href="")
  a.btn.icon-notifications_paused(href="")
  a.btn.icon-offline_pin(href="")
  a.btn.icon-ondemand_video(href="")
  a.btn.icon-opacity(href="")
  a.btn.icon-open_in_browser(href="")
  a.btn.icon-open_with(href="")
  a.btn.icon-pages(href="")
  a.btn.icon-pageview(href="")
  a.btn.icon-pan_tool(href="")
  a.btn.icon-panorama(href="")
  a.btn.icon-radio_button_unchecked(href="")
  a.btn.icon-panorama_horizontal(href="")
  a.btn.icon-panorama_vertical(href="")
  a.btn.icon-panorama_wide_angle(href="")
  a.btn.icon-party_mode(href="")
  a.btn.icon-pause(href="")
  a.btn.icon-pause_circle_filled(href="")
  a.btn.icon-pause_circle_outline(href="")
  a.btn.icon-people_outline(href="")
  a.btn.icon-perm_camera_mic(href="")
  a.btn.icon-perm_contact_calendar(href="")
  a.btn.icon-perm_data_setting(href="")
  a.btn.icon-perm_device_information(href="")
  a.btn.icon-person_outline(href="")
  a.btn.icon-perm_media(href="")
  a.btn.icon-perm_phone_msg(href="")
  a.btn.icon-perm_scan_wifi(href="")
  a.btn.icon-person(href="")
  a.btn.icon-person_add(href="")
  a.btn.icon-person_pin(href="")
  a.btn.icon-person_pin_circle(href="")
  a.btn.icon-personal_video(href="")
  a.btn.icon-pets(href="")
  a.btn.icon-phone_android(href="")
  a.btn.icon-phone_bluetooth_speaker(href="")
  a.btn.icon-phone_forwarded(href="")
  a.btn.icon-phone_in_talk(href="")
  a.btn.icon-phone_iphone(href="")
  a.btn.icon-phone_locked(href="")
  a.btn.icon-phone_missed(href="")
  a.btn.icon-phone_paused(href="")
  a.btn.icon-phonelink_erase(href="")
  a.btn.icon-phonelink_lock(href="")
  a.btn.icon-phonelink_off(href="")
  a.btn.icon-phonelink_ring(href="")
  a.btn.icon-phonelink_setup(href="")
  a.btn.icon-photo_album(href="")
  a.btn.icon-photo_filter(href="")
  a.btn.icon-photo_size_select_actual(href="")
  a.btn.icon-photo_size_select_large(href="")
  a.btn.icon-photo_size_select_small(href="")
  a.btn.icon-picture_as_pdf(href="")
  a.btn.icon-picture_in_picture(href="")
  a.btn.icon-picture_in_picture_alt(href="")
  a.btn.icon-pie_chart(href="")
  a.btn.icon-pie_chart_outlined(href="")
  a.btn.icon-pin_drop(href="")
  a.btn.icon-play_arrow(href="")
  a.btn.icon-play_circle_filled(href="")
  a.btn.icon-play_circle_outline(href="")
  a.btn.icon-play_for_work(href="")
  a.btn.icon-playlist_add(href="")
  a.btn.icon-playlist_add_check(href="")
  a.btn.icon-playlist_play(href="")
  a.btn.icon-plus_one(href="")
  a.btn.icon-polymer(href="")
  a.btn.icon-pool(href="")
  a.btn.icon-portable_wifi_off(href="")
  a.btn.icon-portrait(href="")
  a.btn.icon-power(href="")
  a.btn.icon-power_input(href="")
  a.btn.icon-power_settings_new(href="")
  a.btn.icon-pregnant_woman(href="")
  a.btn.icon-present_to_all(href="")
  a.btn.icon-priority_high(href="")
  a.btn.icon-public(href="")
  a.btn.icon-publish(href="")
  a.btn.icon-queue_music(href="")
  a.btn.icon-queue_play_next(href="")
  a.btn.icon-radio(href="")
  a.btn.icon-radio_button_checked(href="")
  a.btn.icon-rate_review(href="")
  a.btn.icon-receipt(href="")
  a.btn.icon-recent_actors(href="")
  a.btn.icon-record_voice_over(href="")
  a.btn.icon-redo(href="")
  a.btn.icon-refresh(href="")
  a.btn.icon-remove(href="")
  a.btn.icon-remove_circle_outline(href="")
  a.btn.icon-remove_from_queue(href="")
  a.btn.icon-visibility(href="")
  a.btn.icon-remove_shopping_cart(href="")
  a.btn.icon-reorder(href="")
  a.btn.icon-repeat(href="")
  a.btn.icon-repeat_one(href="")
  a.btn.icon-replay(href="")
  a.btn.icon-replay_10(href="")
  a.btn.icon-replay_30(href="")
  a.btn.icon-replay_5(href="")
  a.btn.icon-reply(href="")
  a.btn.icon-reply_all(href="")
  a.btn.icon-report(href="")
  a.btn.icon-warning(href="")
  a.btn.icon-restaurant(href="")
  a.btn.icon-restore_page(href="")
  a.btn.icon-ring_volume(href="")
  a.btn.icon-room_service(href="")
  a.btn.icon-rotate_90_degrees_ccw(href="")
  a.btn.icon-rotate_left(href="")
  a.btn.icon-rotate_right(href="")
  a.btn.icon-rounded_corner(href="")
  a.btn.icon-router(href="")
  a.btn.icon-rowing(href="")
  a.btn.icon-rss_feed(href="")
  a.btn.icon-rv_hookup(href="")
  a.btn.icon-satellite(href="")
  a.btn.icon-save(href="")
  a.btn.icon-scanner(href="")
  a.btn.icon-school(href="")
  a.btn.icon-screen_lock_landscape(href="")
  a.btn.icon-screen_lock_portrait(href="")
  a.btn.icon-screen_lock_rotation(href="")
  a.btn.icon-screen_rotation(href="")
  a.btn.icon-screen_share(href="")
  a.btn.icon-sd_storage(href="")
  a.btn.icon-search(href="")
  a.btn.icon-security(href="")
  a.btn.icon-select_all(href="")
  a.btn.icon-send(href="")
  a.btn.icon-sentiment_dissatisfied(href="")
  a.btn.icon-sentiment_neutral(href="")
  a.btn.icon-sentiment_satisfied(href="")
  a.btn.icon-sentiment_very_dissatisfied(href="")
  a.btn.icon-sentiment_very_satisfied(href="")
  a.btn.icon-settings(href="")
  a.btn.icon-settings_applications(href="")
  a.btn.icon-settings_backup_restore(href="")
  a.btn.icon-settings_bluetooth(href="")
  a.btn.icon-settings_brightness(href="")
  a.btn.icon-settings_cell(href="")
  a.btn.icon-settings_ethernet(href="")
  a.btn.icon-settings_input_antenna(href="")
  a.btn.icon-settings_input_composite(href="")
  a.btn.icon-settings_input_hdmi(href="")
  a.btn.icon-settings_input_svideo(href="")
  a.btn.icon-settings_overscan(href="")
  a.btn.icon-settings_phone(href="")
  a.btn.icon-settings_power(href="")
  a.btn.icon-settings_remote(href="")
  a.btn.icon-settings_system_daydream(href="")
  a.btn.icon-settings_voice(href="")
  a.btn.icon-share(href="")
  a.btn.icon-shop(href="")
  a.btn.icon-shop_two(href="")
  a.btn.icon-shopping_basket(href="")
  a.btn.icon-short_text(href="")
  a.btn.icon-show_chart(href="")
  a.btn.icon-shuffle(href="")
  a.btn.icon-signal_cellular_4_bar(href="")
  a.btn.icon-signal_cellular_connected_no_internet_4_bar(href="")
  a.btn.icon-signal_cellular_null(href="")
  a.btn.icon-signal_cellular_off(href="")
  a.btn.icon-signal_wifi_4_bar(href="")
  a.btn.icon-signal_wifi_4_bar_lock(href="")
  a.btn.icon-signal_wifi_off(href="")
  a.btn.icon-sim_card(href="")
  a.btn.icon-sim_card_alert(href="")
  a.btn.icon-skip_next(href="")
  a.btn.icon-skip_previous(href="")
  a.btn.icon-slideshow(href="")
  a.btn.icon-slow_motion_video(href="")
  a.btn.icon-stay_primary_portrait(href="")
  a.btn.icon-smoke_free(href="")
  a.btn.icon-smoking_rooms(href="")
  a.btn.icon-textsms(href="")
  a.btn.icon-snooze(href="")
  a.btn.icon-sort(href="")
  a.btn.icon-sort_by_alpha(href="")
  a.btn.icon-spa(href="")
  a.btn.icon-space_bar(href="")
  a.btn.icon-speaker(href="")
  a.btn.icon-speaker_group(href="")
  a.btn.icon-speaker_notes(href="")
  a.btn.icon-speaker_notes_off(href="")
  a.btn.icon-speaker_phone(href="")
  a.btn.icon-spellcheck(href="")
  a.btn.icon-star_border(href="")
  a.btn.icon-star_half(href="")
  a.btn.icon-stars(href="")
  a.btn.icon-stay_primary_landscape(href="")
  a.btn.icon-stop(href="")
  a.btn.icon-stop_screen_share(href="")
  a.btn.icon-storage(href="")
  a.btn.icon-store_mall_directory(href="")
  a.btn.icon-straighten(href="")
  a.btn.icon-streetview(href="")
  a.btn.icon-strikethrough_s(href="")
  a.btn.icon-style(href="")
  a.btn.icon-subdirectory_arrow_left(href="")
  a.btn.icon-subdirectory_arrow_right(href="")
  a.btn.icon-subject(href="")
  a.btn.icon-subscriptions(href="")
  a.btn.icon-subtitles(href="")
  a.btn.icon-subway(href="")
  a.btn.icon-supervisor_account(href="")
  a.btn.icon-surround_sound(href="")
  a.btn.icon-swap_calls(href="")
  a.btn.icon-swap_horiz(href="")
  a.btn.icon-swap_vert(href="")
  a.btn.icon-swap_vertical_circle(href="")
  a.btn.icon-switch_camera(href="")
  a.btn.icon-switch_video(href="")
  a.btn.icon-sync_disabled(href="")
  a.btn.icon-sync_problem(href="")
  a.btn.icon-system_update(href="")
  a.btn.icon-system_update_alt(href="")
  a.btn.icon-tab(href="")
  a.btn.icon-tab_unselected(href="")
  a.btn.icon-tablet(href="")
  a.btn.icon-tablet_android(href="")
  a.btn.icon-tablet_mac(href="")
  a.btn.icon-tap_and_play(href="")
  a.btn.icon-text_fields(href="")
  a.btn.icon-text_format(href="")
  a.btn.icon-texture(href="")
  a.btn.icon-thumb_down(href="")
  a.btn.icon-thumb_up(href="")
  a.btn.icon-thumbs_up_down(href="")
  a.btn.icon-timelapse(href="")
  a.btn.icon-timeline(href="")
  a.btn.icon-timer(href="")
  a.btn.icon-timer_10(href="")
  a.btn.icon-timer_3(href="")
  a.btn.icon-timer_off(href="")
  a.btn.icon-title(href="")
  a.btn.icon-toc(href="")
  a.btn.icon-today(href="")
  a.btn.icon-toll(href="")
  a.btn.icon-tonality(href="")
  a.btn.icon-touch_app(href="")
  a.btn.icon-toys(href="")
  a.btn.icon-track_changes(href="")
  a.btn.icon-traffic(href="")
  a.btn.icon-train(href="")
  a.btn.icon-tram(href="")
  a.btn.icon-transfer_within_a_station(href="")
  a.btn.icon-transform(href="")
  a.btn.icon-translate(href="")
  a.btn.icon-trending_down(href="")
  a.btn.icon-trending_flat(href="")
  a.btn.icon-trending_up(href="")
  a.btn.icon-tune(href="")
  a.btn.icon-tv(href="")
  a.btn.icon-unarchive(href="")
  a.btn.icon-undo(href="")
  a.btn.icon-unfold_less(href="")
  a.btn.icon-unfold_more(href="")
  a.btn.icon-update(href="")
  a.btn.icon-usb(href="")
  a.btn.icon-verified_user(href="")
  a.btn.icon-vertical_align_bottom(href="")
  a.btn.icon-vertical_align_center(href="")
  a.btn.icon-vertical_align_top(href="")
  a.btn.icon-vibration(href="")
  a.btn.icon-video_call(href="")
  a.btn.icon-video_label(href="")
  a.btn.icon-video_library(href="")
  a.btn.icon-videocam(href="")
  a.btn.icon-videocam_off(href="")
  a.btn.icon-videogame_asset(href="")
  a.btn.icon-view_agenda(href="")
  a.btn.icon-view_array(href="")
  a.btn.icon-view_carousel(href="")
  a.btn.icon-view_column(href="")
  a.btn.icon-view_comfy(href="")
  a.btn.icon-view_compact(href="")
  a.btn.icon-view_day(href="")
  a.btn.icon-view_headline(href="")
  a.btn.icon-view_list(href="")
  a.btn.icon-view_module(href="")
  a.btn.icon-view_quilt(href="")
  a.btn.icon-view_stream(href="")
  a.btn.icon-view_week(href="")
  a.btn.icon-vignette(href="")
  a.btn.icon-visibility_off(href="")
  a.btn.icon-voice_chat(href="")
  a.btn.icon-voicemail(href="")
  a.btn.icon-volume_down(href="")
  a.btn.icon-volume_mute(href="")
  a.btn.icon-volume_off(href="")
  a.btn.icon-volume_up(href="")
  a.btn.icon-vpn_key(href="")
  a.btn.icon-vpn_lock(href="")
  a.btn.icon-wallpaper(href="")
  a.btn.icon-watch(href="")
  a.btn.icon-watch_later(href="")
  a.btn.icon-wb_auto(href="")
  a.btn.icon-wb_incandescent(href="")
  a.btn.icon-wb_iridescent(href="")
  a.btn.icon-wb_sunny(href="")
  a.btn.icon-wc(href="")
  a.btn.icon-web(href="")
  a.btn.icon-web_asset(href="")
  a.btn.icon-weekend(href="")
  a.btn.icon-whatshot(href="")
  a.btn.icon-widgets(href="")
  a.btn.icon-wifi(href="")
  a.btn.icon-wifi_lock(href="")
  a.btn.icon-wifi_tethering(href="")
  a.btn.icon-work(href="")
  a.btn.icon-wrap_text(href="")
  a.btn.icon-youtube_searched_for(href="")
  a.btn.icon-zoom_in(href="")
  a.btn.icon-zoom_out(href="")
  a.btn.icon-zoom_out_map(href="")
