.grid-wrap.grid-wrap-90
  h1.title-section Bases and helpers class

  h2 Base Colors
  .grid-for-6
    .grid-box.default-bgc
      span.display-block Default
      small.default-color-code
    .grid-box.primary-bgc
      span.display-block Primary
      small.primary-color-code
    .grid-box.secondary-bgc
      span.display-block Secondary
      small.secondary-color-code
    .grid-box.info-bgc
      span.display-block Info
      small.info-color-code
    .grid-box.warning-bgc
      span.display-block Warning
      small.warning-color-code
    .grid-box.error-bgc
      span.display-block Error
      small.error-color-code

  h2 Theaming Colors
  span.color.brown #322723
  span.color.yellow #D39756
  span.color.red #AE0001
  span.color.orange #AF482C
  span.color.purple #5E2E46
  span.color.dark-purple #291413
  span.color.dark-blue #002223
  span.color.grey #A8BAC8
  span.color.pink #DD2F74
