.grid-wrap.grid-wrap-90
  h1.title-section Navbars

  div.custom-row-separator
    nav.navbar
      a.link Link a
      a.link Link b
      a.link Link c

  div.custom-row-separator
    nav.navbar.navbar-primary
      a.link Link a
      a.link Link b
      a.link Link c

  div.custom-row-separator
    nav.navbar.navbar-secondary
      a.link Link a
      a.link Link b
      a.link Link c
