.grid-wrap.grid-wrap-90
  h1.title-section Dropdowns
  h2 Dropdowns Buttons
  div
    div.dropdown
      a.btn.btn-default.btn-dropdown(href='#') Button default
        span.icon-dropdown
      ul.dropdown-menu
        li
          a(href="#") One Item
        li
          a(href="#") Two Item
        li
          a(href="#") Three Item
        li
          a(href="#") Four Item
        li
          a(href="#") Five Item
  //div
    a.btn.btn-inverse.btn-dropdown(href='#') Button inverse
      span.icon-dropdown
  //div
    a.btn.btn-primary.btn-dropdown.btn-md(href='#') Button primary
      span.icon-dropdown
  //div
    a.btn.btn-secondary.btn-dropdown(href='#') Button secondary
      span.icon-dropdown
  //div
    a.btn.btn-info.btn-dropdown.btn-lg(href='#') Button info
      span.icon-dropdown
  //div
    a.btn.btn-warning.btn-dropdown.btn-upper(href='#') Button warning
      span.icon-dropdown
  //div
    a.btn.btn-error.btn-dropdown.btn-shadow.btn-lg(href='#') Button error
      span.icon-dropdown
