include ../../../code-example/grid-system/gs.jade
h1.align-center Grid System

.grid-wrap.grid-wrap-90
  p Hagrid Grid System works mainly with percentages(layouts), Also the grid system supports flex box feature.
  h5 Table properties grid layout
  table.table-documentation
    thead
      tr
        th.first-col Property
        th Type
        th Description
        th Examples
    tr
      th.first-col gs, grid-system
      td class
      td Class container to grid system
      td
        a(href="#layouts-example", class="btn btn-default btn-sm") example
    tr
      th.first-col layout-
      td class
      td The main class to specify a layout, layout-40
      td
        a(href="#layouts-example", class="btn btn-default btn-sm") example
    tr
    tr
      th.first-col -xs-, -sm, -md-, -lg-
      td class
      td Device sizes, xs to small devices(smartphones), sm to medium screen(tablets), md to normal screens(laptop) and lg to large screens(Desktop or retina display), eg layout-xs-40, layout-lg-60
      td
        a(href="#sizes-example", class="btn btn-default btn-sm") example
    tr
      th.first-col gutters
      td class
      td class to separate layouts
      td
        a(href="#gutters-example", class="btn btn-default btn-sm") example
    tr
      th.first-col gutters=[1em]
      td attr
      td You can use tree option to separate layouts, it is in tree types of measure (px, em, and percent)
      td
        a(href="#gutters-attr-example", class="btn btn-default btn-sm") example
    tr
      th.first-col order-
      td class
      td You can re order layouts without move html layouts
      td
        a(href="#order-example", class="btn btn-default btn-sm") example
    tr
      th.first-col gs-items-aligns
      td class
      td Horizontal Aligns
      td
        a(href="#horizontal-aligns-example", class="btn btn-default btn-sm") example

    tr
      th.first-col gs-items-aligns.gs-vertical-orientation
      td class
      td Vertical Aligns
      td
        a(href="#horizontal-aligns-example", class="btn btn-default btn-sm") example
    tr
      th.first-col hagrid-debug
      td attr
      td You can use hagrid-debug to see layout dimentions
      td
        a(href="#gs-debug-example", class="btn btn-default btn-sm") example


  section.block-section-hash#layouts-example
    h4 Grid system container and layouts
    mixin gsLayouts

  section.block-section-hash#sizes-example
    h4 Sizes and Transform layouts
    mixin gsSizes

  section.block-section-hash#order-example
    h4 Order columns
    mixin gsOrder

  section.block-section-hash#gutters-example
    h4 Gutters
    mixin gsGutters

  section.block-section-hash#horizontal-aligns
    h4 Horizontal alignment of items
    mixin gsHorizontalAligns

  section.block-section-hash#vertical-aligns
    h4 Vertical alignment of items
    mixin gsVerticalAligns

  section.block-section-hash#vertical-aligns-content
    h4 Vertical alignment of content
    mixin gsVerticalAlignsContent

  section.block-section-hash#nested-layouts
    h4 Nested Layouts
    mixin gsVerticalAlignsContent

  section.block-section-hash#gs-debug
    h4 Grid System Debug
    mixin gsDebug



