include ../../../code-example/buttons/buttons.pug
h1.title-section Buttons
.gs-wrap
  p The Buttons is one of part most important of some

  table.table-documentation
    thead
      tr
        th.first-col Property Details
        th Variations
        th Description
    tr
        th.first-col
          ul.list-documentation.list-documentation-details
            li.list__title
              b Button Class
            li Type: class
            li Supports:&nbsp;
              b [sizes, types, looks, displays]

            li.list__cta
              a(href="#buttons-example", class="btn btn-info btn-block btn-sm") Examples
        td
          ul.list-documentation.list-documentation-variations
            li
              b Button: .btn
              span e.g: .btn
              pre
                code(class="language-html", prism)
                  :code
                    <a href="#" class="btn">...</a>

        td Use <b>.btn</b> class to reference a button.
    tr
        th.first-col
          ul.list-documentation.list-documentation-details
            li.list__title
              b Type Buttons
            li Type: class
            li Dependencies: .btn
            li.list__cta
              a(href="#type-buttons-example", class="btn btn-info btn-block btn-sm") Examples
        td
          ul.list-documentation.list-documentation-variations
            li
              b Button: .btn-{types}
              span e.g: .btn.btn-primary, .btn.btn-secondary
              pre
                code(class="language-html", prism)
                  :code
                    <a href="#" class="btn btn-inverse">...</a>

        td You can use <b>.btn-{types}</b> to change type button, available Types <b>{default, inverse, primary, secondary, info. warning, error}</b>

    tr
        th.first-col
          ul.list-documentation.list-documentation-details
            li.list__title
              b Size Buttons
            li Type: class
            li Dependencies: .btn
            li.list__cta
              a(href="#size-buttons-example", class="btn btn-info btn-block btn-sm") Examples
        td
          ul.list-documentation.list-documentation-variations
            li
              b Button: .btn-{sizes}
              span e.g: .btn.btn-sm, .btn.btn-lg
              pre
                code(class="language-html", prism)
                  :code
                    <a href="#" class="btn btn-sm">...</a>

        td You can use <b>.btn-{sizes}</b> to change size button, available Sizes <b>{xs, sm, md, lg}</b>

    tr
        th.first-col
          ul.list-documentation.list-documentation-details
            li.list__title
              b Look Buttons
            li Type: class
            li Dependencies: .btn
            li.list__cta
              a(href="#look-buttons-example", class="btn btn-info btn-block btn-sm") Examples
        td
          ul.list-documentation.list-documentation-variations
            li
              b Button: .btn-{looks}
              span e.g: .btn.btn-upper, .btn.btn-outline
              pre
                code(class="language-html", prism)
                  :code
                    <a href="#" class="btn btn-upper">...</a>

        td You can use <b>.btn-{looks}</b> to change look button, available Looks <b>{flat, shadow, upper, outline}</b>

    tr
        th.first-col
          ul.list-documentation.list-documentation-details
            li.list__title
              b Icon Buttons
            li Type: class
            li Dependencies: .btn
            li.list__cta
              a(href="#icon-buttons-example", class="btn btn-info btn-block btn-sm") Examples
        td
          ul.list-documentation.list-documentation-variations
            li
              b Button: .btn-{looks}
              span e.g: .btn.btn-upper, .btn.btn-outline
              pre
                code(class="language-html", prism)
                  :code
                    <a href="#" class="btn btn-upper">...</a>

        td You can adds icons in buttons

    tr
        th.first-col
          ul.list-documentation.list-documentation-details
            li.list__title
              b Display Buttons
            li Type: class
            li Dependencies: .btn
            li.list__cta
              a(href="#icon-buttons-example", class="btn btn-info btn-block btn-sm") Examples
        td
          ul.list-documentation.list-documentation-variations
            li
              b Button: .btn-{looks}
              span e.g: .btn.btn-upper, .btn.btn-outline
              pre
                code(class="language-html", prism)
                  :code
                    <a href="#" class="btn btn-upper">...</a>

        td You can adds icons in buttons

    //-tr
        th.first-col
          ul.list-documentation.list-documentation-details
            li.list__title
              b Gutter Buttons
            li Type: class
            li Dependencies: .btn
            li.list__cta
              a(href="#icon-buttons-example", class="btn btn-info btn-block btn-sm") Examples
        td
          ul.list-documentation.list-documentation-variations
            li
              b Button: .btn-{looks}
              span e.g: .btn.btn-upper, .btn.btn-outline
              pre
                code(class="language-html", prism)
                  :code
                    <a href="#" class="btn btn-upper">...</a>

        td You can adds icons in buttons


  section.block-section-hash#buttons-example
    h4 Main Class button
    +mainButtons

  section.block-section-hash#type-buttons-example
    h4 Buttons type
    +typeButtons

  section.block-section-hash#size-buttons-example
    h4 Buttons size
    +sizeButtons

  section.block-section-hash#look-buttons-example
    h4 Buttons look
    +lookButtons

  section.block-section-hash#display-buttons-example
    h4 Display Buttons
    +displayButtons

  section.block-section-hash#icon-buttons-example
    h4 Icon Buttons
    +iconButtons

  h5 Started buttons
  //-.old
    .grid-layout
      .layout-50
        ul.list-documentation
          li Use <b class="label">btn</b> class to reference a button.
          li To change style button you must do extend class <b class="label">btn</b> with button type <b class="label">btn-</b>, you can use 6 class to change apparence button. &nbsp;
            b btn-default, btn-inverse, btn-primary, btn-secondary, btn-info, btn-warning, btn-error

      .layout-50
          a.btn.btn-default(href='#') Button default
          a.btn.btn-inverse(href='#') Button inverse
          a.btn.btn-primary(href='#') Button primary
          a.btn.btn-secondary(href='#') Button secondary
          a.btn.btn-info(href='#') Button info
          a.btn.btn-warning(href='#') Button warning
          a.btn.btn-error(href='#') Button error


    h2 Icon Buttons
    div
      a.btn.btn-default(href='#')
        i.icon-get_app
    div
      a.btn.btn-inverse(href='#')
        i.icon-file_upload
    div
      a.btn.btn-primary(href='#')
        i.icon-favorite
    div
      a.btn.btn-secondary(href='#')
        i.icon-dehaze
    div
      a.btn.btn-info(href='#')
        i.icon-event_available
    div
      a.btn.btn-warning(href='#')
        i.icon-delete
    div
      a.btn.btn-error(href='#')
        i.icon-error

    h2 Icon Buttons
    div
      a.btn.btn-default(href='#') Button default&nbsp;
        i.icon-get_app
    div
      a.btn.btn-inverse(href='#')
        | Button inverse&nbsp;
        i.icon-file_upload
    div
      a.btn.btn-primary(href='#')
        | Button primary&nbsp;
        i.icon-favorite
    div
      a.btn.btn-secondary(href='#') Button secondary&nbsp;
        i.icon-dehaze
    div
      a.btn.btn-info(href='#') Button info&nbsp;
        i.icon-event_available
    div
      a.btn.btn-warning(href='#') Button warning&nbsp;
        i.icon-delete
    div
      a.btn.btn-error(href='#') Button error&nbsp;
        i.icon-error
    h2 Flat Buttons
    div
      a.btn.btn-default.btn-flat(href='#') Button default
    div
      a.btn.btn-inverse.btn-flat(href='#') Button inverse
    div
      a.btn.btn-primary.btn-flat(href='#') Button primary
    div
      a.btn.btn-secondary.btn-flat(href='#') Button secondary
    div
      a.btn.btn-info.btn-flat(href='#') Button info
    div
      a.btn.btn-warning.btn-flat(href='#') Button warning
    div
      a.btn.btn-error.btn-flat(href='#') Button error
    h2 Upper Buttons
    div
      a.btn.btn-default.btn-upper(href='#') Button default
    div
      a.btn.btn-inverse.btn-upper(href='#') Button inverse
    div
      a.btn.btn-primary.btn-upper(href='#') Button primary
    div
      a.btn.btn-secondary.btn-upper(href='#') Button secondary
    div
      a.btn.btn-info.btn-upper(href='#') Button info
    div
      a.btn.btn-warning.btn-upper(href='#') Button warning
    div
      a.btn.btn-error.btn-upper(href='#') Button error
    h2 Shadow Buttons
    div
      a.btn.btn-default.btn-shadow(href='#') Button default
    div
      a.btn.btn-inverse.btn-shadow(href='#') Button inverse
    div
      a.btn.btn-primary.btn-shadow(href='#') Button primary
    div
      a.btn.btn-secondary.btn-shadow(href='#') Button secondary
    div
      a.btn.btn-info.btn-shadow(href='#') Button info
    div
      a.btn.btn-warning.btn-shadow(href='#') Button warning
    div
      a.btn.btn-error.btn-shadow(href='#') Button error
    h2 Outline Buttons
    div
      a.btn.btn-default.btn-outline(href='#') Button default
    div
      a.btn.btn-inverse.btn-outline(href='#') Button inverse
    div
      a.btn.btn-primary.btn-outline(href='#') Button primary
    div
      a.btn.btn-secondary.btn-outline(href='#') Button secondary
    div
      a.btn.btn-info.btn-outline(href='#') Button info
    div
      a.btn.btn-warning.btn-outline(href='#') Button warning
    div
      a.btn.btn-error.btn-outline(href='#') Button error
    h2 Smaller Buttons (xs)
    div
      a.btn.btn-default.btn-xs(href='#') Button default
    div
      a.btn.btn-inverse.btn-xs(href='#') Button inverse
    div
      a.btn.btn-primary.btn-xs(href='#') Button primary
    div
      a.btn.btn-secondary.btn-xs(href='#') Button secondary
    div
      a.btn.btn-info.btn-xs(href='#') Button info
    div
      a.btn.btn-warning.btn-xs(href='#') Button warning
    div
      a.btn.btn-error.btn-xs(href='#') Button error
    h2 Small Buttons Flat (sm)
    div
      a.btn.btn-default.btn-flat.btn-sm(href='#') Button default
    div
      a.btn.btn-inverse.btn-flat.btn-sm(href='#') Button inverse
    div
      a.btn.btn-primary.btn-flat.btn-sm(href='#') Button primary
    div
      a.btn.btn-secondary.btn-flat.btn-sm(href='#') Button secondary
    div
      a.btn.btn-info.btn-flat.btn-sm(href='#') Button info
    div
      a.btn.btn-warning.btn-flat.btn-sm(href='#') Button warning
    div
      a.btn.btn-error.btn-flat.btn-sm(href='#') Button error
    h2 Normal Buttons Upper
    div
      a.btn.btn-default.btn-upper(href='#') Button default
    div
      a.btn.btn-inverse.btn-upper(href='#') Button inverse
    div
      a.btn.btn-primary.btn-upper(href='#') Button primary
    div
      a.btn.btn-secondary.btn-upper(href='#') Button secondary
    div
      a.btn.btn-info.btn-upper(href='#') Button info
    div
      a.btn.btn-warning.btn-upper(href='#') Button warning
    div
      a.btn.btn-error.btn-upper(href='#') Button error
    h2 Medium Buttons (md)
    div
      a.btn.btn-default.btn-md(href='#') Button default
    div
      a.btn.btn-inverse.btn-md(href='#') Button inverse
    div
      a.btn.btn-primary.btn-md(href='#') Button primary
    div
      a.btn.btn-secondary.btn-md(href='#') Button secondary
    div
      a.btn.btn-info.btn-md(href='#') Button info
    div
      a.btn.btn-warning.btn-md(href='#') Button warning
    div
      a.btn.btn-error.btn-md(href='#') Button error
    h2 Large Buttons Outline (lg)
    div
      a.btn.btn-default.btn-outline.btn-lg(href='#') Button default
    div
      a.btn.btn-inverse.btn-outline.btn-lg(href='#') Button inverse
    div
      a.btn.btn-primary.btn-outline.btn-lg(href='#') Button primary
    div
      a.btn.btn-secondary.btn-outline.btn-lg(href='#') Button secondary
    div
      a.btn.btn-info.btn-outline.btn-lg(href='#') Button info
    div
      a.btn.btn-warning.btn-outline.btn-lg(href='#') Button warning
    div
      a.btn.btn-error.btn-outline.btn-lg(href='#') Button error
    h2 Block Large Buttons Outline (lg)
    div
      a.btn.btn-default.btn-lg(href='#') Button default&nbsp;
        i.icon-photo
    div
      a.btn.btn-inverse.btn-flat.btn-lg(href='#') Button inverse&nbsp;
        i.icon-help
    div
      a.btn.btn-primary.btn-upper.btn-lg(href='#') Button primary&nbsp;
        i.icon-android
    div
      a.btn.btn-secondary.btn-shadow.btn-lg(href='#') Button secondary&nbsp;
        i.icon-group_add
    div
      a.btn.btn-info.btn-outline.btn-lg(href='#') Button info&nbsp;
        i.icon-info
    div
      a.btn.btn-warning.btn-lg(href='#') Button warning&nbsp;
        i.icon-highlight_off
    div
      a.btn.btn-error.btn-flat.btn-lg(href='#') Button error&nbsp;
        i.icon-lock
    h2 Block Large Buttons Outline (lg)
    div
      a.btn.btn-default.btn-lg.btn-block(href='#') Button default
    div
      a.btn.btn-inverse.btn-flat.btn-lg.btn-block(href='#') Button inverse
    div
      a.btn.btn-primary.btn-upper.btn-lg.btn-block(href='#') Button primary
    div
      a.btn.btn-secondary.btn-shadow.btn-lg.btn-block(href='#') Button secondary
    div
      a.btn.btn-info.btn-outline.btn-lg.btn-block(href='#') Button info
    div
      a.btn.btn-warning.btn-lg.btn-block(href='#') Button warning
    div
      a.btn.btn-error.btn-flat.btn-lg.btn-block(href='#') Button error
