mixin mainModals
  div.code-example
    h6 Code: 
    pre
      code(class="language-html", prism)
        :code
          

  div.code-result
    h6 Result:


mixin modalTypes
  div.code-example
    h6 Code: 
    pre
      code(class="language-html", prism)
        :code
          

  div.code-result
    h6 Result:


mixin modalLooks
  div.code-example
    h6 Code: 
    pre
      code(class="language-html", prism)
        :code
          
  div.code-result
    h6 Result:
    

mixin modalSizes
  div.code-example
    h6 Code: 
    pre
      code(class="language-html", prism)
        :code
                    

  div.code-result
    h6 Result:
    


mixin modalDisplay
  div.code-example
    h6 Code: 
    pre
      code(class="language-html", prism)
        :code
          
          

  div.code-result
    h6 Result:
  
