mixin mainTabs
  div.code-example
    h6 Code: 
    pre
      code(class="language-html", prism)
        :code

  div.code-result
    h6 Result:


mixin tabTypes
  div.code-example
    h6 Code: 
    pre
      code(class="language-html", prism)
        :code
          

  div.code-result
    h6 Result:
    

mixin tabLooks
  div.code-example
    h6 Code: 
    pre
      code(class="language-html", prism)
        :code
          
  div.code-result
    h6 Result:
    

mixin tabSizes
  div.code-example
    h6 Code: 
    pre
      code(class="language-html", prism)
        :code
                    

  div.code-result
    h6 Result:
    


mixin tabDisplay
  div.code-example
    h6 Code: 
    pre
      code(class="language-html", prism)
        :code
          
          

  div.code-result
    h6 Result:
  
