<h1 class="title-section">Images and Avatars</h1><div class="gs-wrap"><p>Hagrid has some class to normalize look images and avatars.</p><h5>Table properties Images</h5><table class="table-documentation"><thead><tr><th class="first-col">Property Details</th><th>Variations</th><th>Description</th></tr></thead><tr><th class="first-col"><ul class="list-documentation list-documentation-details"><li class="list__title"><b>Images</b></li><li>Type: class</li><li>Main Class: .img</li><li>Supports:&nbsp;<b>[styles]</b></li><li class="list__cta"><a class="btn btn-info btn-sm btn-block" href="#images-styles-example">Examples</a></li></ul></th><td><ul class="list-documentation list-documentation-variations"><li><b>Styles: .img-{circle, radius}</b><span>e.g: .img-circle, .img-radius</span><pre><code class="language-html" prism="prism">&lt;figure class=&quot;img img-circle&quot;&gt;
  &lt;img src=&quot;&quot; alt=&quot;Image&quot;/&gt;
&lt;/figure&gt;</code></pre></li></ul></td><td>Hagrid supports some images classes to change style images <b>.img-{circle, radius}</b></td></tr></table><section class="block-section-hash" id="images-styles-example"><h4>Image Styles</h4><div class="code-example"><h6>Code:</h6><pre><code class="language-html" prism="prism">&lt;!-- Image Circle--&gt;
&lt;!--- divs is not required --&gt;
&lt;div&gt;
  &lt;figure class=&quot;img img-circle&quot;&gt;
    &lt;img src=&quot;http://dummyimage.com/200x200&quot; alt=&quot;Image&quot;/&gt;
  &lt;/figure&gt;
&lt;/div&gt;
&lt;!-- Image Radius--&gt;
&lt;div class=&quot;div-is-not-required&quot;&gt;
  &lt;figure class=&quot;img img-radius&quot;&gt;
    &lt;img src=&quot;http://dummyimage.com/200x200&quot; alt=&quot;Image&quot;/&gt;
  &lt;/figure&gt;
&lt;/div&gt;</code></pre></div><div class="code-result"><h6>Result:</h6><div><figure class="img img-circle"><img src="http://dummyimage.com/200x200" alt="Image"/></figure></div><div><figure class="img img-radius"><img src="http://dummyimage.com/200x200" alt="Image"/></figure></div></div></section></div>