mixin mainLists
  div.code-example
    h6 Code: 
    pre
      code(class="language-html", prism)
        :code
          <ul class="list">
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
          </ul>
          

  div.code-result
    h6 Result:
    ul.list
      li Lorem ipsum dolor sit amet
      li Lorem ipsum dolor sit amet
      li Lorem ipsum dolor sit amet
      li Lorem ipsum dolor sit amet


mixin listTypes
  div.code-example
    h6 Code: 
    pre
      code(class="language-html", prism)
        :code
          <!-- list list-primary -->
          <ul class="list list-primary">
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
          </ul>
          <!-- list list-secondary -->
          <ul class="list list-secondary">
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
          </ul>
          <!-- list list-inverse -->
          <ul class="list list-inverse">
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
          </ul>
          <!-- list list-default -->
          <ul class="list list-default">
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
          </ul>
          <!-- list list-info -->
          <ul class="list list-info">
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
          </ul>
          <!-- list list-warning -->
          <ul class="list list-warning">
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
          </ul>
          <!-- list list-error -->
          <ul class="list list-error">
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
          </ul>
          

  div.code-result
    h6 Result:
    // list list-primary
    ul.list.list-primary
      li Lorem ipsum dolor sit amet
      li Lorem ipsum dolor sit amet
      li Lorem ipsum dolor sit amet
      li Lorem ipsum dolor sit amet
      li Lorem ipsum dolor sit amet
    // list list-secondary
    ul.list.list-secondary
      li Lorem ipsum dolor sit amet
      li Lorem ipsum dolor sit amet
      li Lorem ipsum dolor sit amet
      li Lorem ipsum dolor sit amet
      li Lorem ipsum dolor sit amet
    // list list-inverse
    ul.list.list-inverse
      li Lorem ipsum dolor sit amet
      li Lorem ipsum dolor sit amet
      li Lorem ipsum dolor sit amet
      li Lorem ipsum dolor sit amet
      li Lorem ipsum dolor sit amet
    // list list-default
    ul.list.list-default
      li Lorem ipsum dolor sit amet
      li Lorem ipsum dolor sit amet
      li Lorem ipsum dolor sit amet
      li Lorem ipsum dolor sit amet
      li Lorem ipsum dolor sit amet
    // list list-info
    ul.list.list-info
      li Lorem ipsum dolor sit amet
      li Lorem ipsum dolor sit amet
      li Lorem ipsum dolor sit amet
      li Lorem ipsum dolor sit amet
      li Lorem ipsum dolor sit amet
    // list list-warning
    ul.list.list-warning
      li Lorem ipsum dolor sit amet
      li Lorem ipsum dolor sit amet
      li Lorem ipsum dolor sit amet
      li Lorem ipsum dolor sit amet
      li Lorem ipsum dolor sit amet
    // list list-error
    ul.list.list-error
      li Lorem ipsum dolor sit amet
      li Lorem ipsum dolor sit amet
      li Lorem ipsum dolor sit amet
      li Lorem ipsum dolor sit amet
      li Lorem ipsum dolor sit amet


mixin listLooks
  div.code-example
    h6 Code: 
    pre
      code(class="language-html", prism)
        :code
          <!-- list list-dor -->
          <ul class="list list-dot">
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
          </ul>
          <!-- list list-circle -->
          <ul class="list list-circle">
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
          </ul>
          <!-- list list-square -->
          <ul class="list list-square">
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
          </ul>
          <!-- list list-cube -->
          <ul class="list list-cube">
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
          </ul>
          <!-- list list-arrow -->
          <ul class="list list-arrow">
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
          </ul>
          <!-- list list-check -->
          <ul class="list list-check">
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
          </ul>
          <!-- list list-group -->
          <ul class="list list-group">
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
          </ul>
          <!-- list list-divider -->
          <ul class="list list-divider">
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
          </ul>
          <!-- list list-border-left -->
          <ul class="list list-border-left">
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
          </ul>
          

  div.code-result
    h6 Result:
    // list list-dor
    ul.list.list-dot
      li Lorem ipsum dolor sit amet
      li Lorem ipsum dolor sit amet
      li Lorem ipsum dolor sit amet
      li Lorem ipsum dolor sit amet
      li Lorem ipsum dolor sit amet
    // list list-circle
    ul.list.list-circle
      li Lorem ipsum dolor sit amet
      li Lorem ipsum dolor sit amet
      li Lorem ipsum dolor sit amet
      li Lorem ipsum dolor sit amet
      li Lorem ipsum dolor sit amet
    // list list-square
    ul.list.list-square
      li Lorem ipsum dolor sit amet
      li Lorem ipsum dolor sit amet
      li Lorem ipsum dolor sit amet
      li Lorem ipsum dolor sit amet
      li Lorem ipsum dolor sit amet
    // list list-cube
    ul.list.list-cube
      li Lorem ipsum dolor sit amet
      li Lorem ipsum dolor sit amet
      li Lorem ipsum dolor sit amet
      li Lorem ipsum dolor sit amet
      li Lorem ipsum dolor sit amet
    // list list-arrow
    ul.list.list-arrow
      li Lorem ipsum dolor sit amet
      li Lorem ipsum dolor sit amet
      li Lorem ipsum dolor sit amet
      li Lorem ipsum dolor sit amet
      li Lorem ipsum dolor sit amet
    // list list-check
    ul.list.list-check
      li Lorem ipsum dolor sit amet
      li Lorem ipsum dolor sit amet
      li Lorem ipsum dolor sit amet
      li Lorem ipsum dolor sit amet
      li Lorem ipsum dolor sit amet
    // list list-group
    ul.list.list-group
      li Lorem ipsum dolor sit amet
      li Lorem ipsum dolor sit amet
      li Lorem ipsum dolor sit amet
      li Lorem ipsum dolor sit amet
      li Lorem ipsum dolor sit amet
    // list list-divider
    ul.list.list-divider
      li Lorem ipsum dolor sit amet
      li Lorem ipsum dolor sit amet
      li Lorem ipsum dolor sit amet
      li Lorem ipsum dolor sit amet
      li Lorem ipsum dolor sit amet
    // list list-border-left
    ul.list.list-border-left
      li Lorem ipsum dolor sit amet
      li Lorem ipsum dolor sit amet
      li Lorem ipsum dolor sit amet
      li Lorem ipsum dolor sit amet
      li Lorem ipsum dolor sit amet



mixin listDisplay
  div.code-example
    h6 Code: 
    pre
      code(class="language-html", prism)
        :code
          <!-- list list-dor -->
          <ul class="list list-dot list-block">
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
          </ul>
          <!-- list list-circle -->
          <ul class="list list-circle list-block">
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
          </ul>
          <!-- list list-square -->
          <ul class="list list-square list-block">
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
          </ul>
          <!-- list list-cube -->
          <ul class="list list-cube list-block">
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
          </ul>
          <!-- list list-arrow -->
          <ul class="list list-arrow list-block">
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
          </ul>
          <!-- list list-check -->
          <ul class="list list-check list-block">
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
          </ul>
          <!-- list list-group -->
          <ul class="list list-group list-block">
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
          </ul>
          <!-- list list-divider -->
          <ul class="list list-divider list-block">
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
          </ul>
          <!-- list list-border-left -->
          <ul class="list list-border-left list-block">
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
          </ul>
          

  div.code-result
    h6 Result:
    // list list-dor
    ul.list.list-dot.list-block
      li Lorem ipsum dolor sit amet
      li Lorem ipsum dolor sit amet
      li Lorem ipsum dolor sit amet
      li Lorem ipsum dolor sit amet
      li Lorem ipsum dolor sit amet
    // list list-circle
    ul.list.list-circle.list-block
      li Lorem ipsum dolor sit amet
      li Lorem ipsum dolor sit amet
      li Lorem ipsum dolor sit amet
      li Lorem ipsum dolor sit amet
      li Lorem ipsum dolor sit amet
    // list list-square
    ul.list.list-square.list-block
      li Lorem ipsum dolor sit amet
      li Lorem ipsum dolor sit amet
      li Lorem ipsum dolor sit amet
      li Lorem ipsum dolor sit amet
      li Lorem ipsum dolor sit amet
    // list list-cube
    ul.list.list-cube.list-block
      li Lorem ipsum dolor sit amet
      li Lorem ipsum dolor sit amet
      li Lorem ipsum dolor sit amet
      li Lorem ipsum dolor sit amet
      li Lorem ipsum dolor sit amet
    // list list-arrow
    ul.list.list-arrow.list-block
      li Lorem ipsum dolor sit amet
      li Lorem ipsum dolor sit amet
      li Lorem ipsum dolor sit amet
      li Lorem ipsum dolor sit amet
      li Lorem ipsum dolor sit amet
    // list list-check
    ul.list.list-check.list-block
      li Lorem ipsum dolor sit amet
      li Lorem ipsum dolor sit amet
      li Lorem ipsum dolor sit amet
      li Lorem ipsum dolor sit amet
      li Lorem ipsum dolor sit amet
    // list list-group
    ul.list.list-group.list-block
      li Lorem ipsum dolor sit amet
      li Lorem ipsum dolor sit amet
      li Lorem ipsum dolor sit amet
      li Lorem ipsum dolor sit amet
      li Lorem ipsum dolor sit amet
    // list list-divider
    ul.list.list-divider.list-block
      li Lorem ipsum dolor sit amet
      li Lorem ipsum dolor sit amet
      li Lorem ipsum dolor sit amet
      li Lorem ipsum dolor sit amet
      li Lorem ipsum dolor sit amet
    // list list-border-left
    ul.list.list-border-left.list-block
      li Lorem ipsum dolor sit amet
      li Lorem ipsum dolor sit amet
      li Lorem ipsum dolor sit amet
      li Lorem ipsum dolor sit amet
      li Lorem ipsum dolor sit amet


