mixin mainLists
  div.code-example
    h6 Code: 
    pre
      code(class="language-html", prism)
        :code
          <ul class="list">
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
          </ul>
          

  div.code-result
    h6 Result:
    ul.list
      li Lorem ipsum dolor sit amet
      li Lorem ipsum dolor sit amet
      li Lorem ipsum dolor sit amet
      li Lorem ipsum dolor sit amet


mixin listTypes
  div.code-example
    h6 Code: 
    pre
      code(class="language-html", prism)
        :code
          
          

  div.code-result
    h6 Result:
    


mixin listSizes
  div.code-example
    h6 Code: 
    pre
      code(class="language-html", prism)
        :code
          
          

  div.code-result
    h6 Result:
    


mixin listLooks
  div.code-example
    h6 Code: 
    pre
      code(class="language-html", prism)
        :code
          
          

  div.code-result
    h6 Result:
    


mixin listDisplay
  div.code-example
    h6 Code: 
    pre
      code(class="language-html", prism)
        :code
          
          

  div.code-result
    h6 Result:
    

