mixin mainNavbars
  div.code-example
    h6 Code:
    pre
      code(class="language-html", prism)
        :code
          <section class="gs">
            <div class="layout-lg-80"></div>
            <div class="layout-lg-20"></div>
          </section>

  div.code-result
    h6 Result:

