.banner-home.align-center
  h1.welcome-title.align-center Let’s build awesome web applications together
  a(ui-sref="main.views.knowledge.grid-system", class="btn btn-primary btn-lg") Start with it


