div.full-height
  .brand-hero.align-center
    h1 hagrid.io
  .main-hero.align-center
    h1.welcome-title.align-center Let’s build awesome web applications together
    a(ui-sref="main.views.knowledge.grid-system", class="btn btn-default btn-upper btn-lg m-em m-1-top")
      | Read Documentation &nbsp;
      i.icon-dashboard


div(ng-include="'partials/shared.footer.html'")



