div(ui-view="header", class="full-width")
div.gs.full-height.main-view-ui
  div(ui-view="sidebar", class="lay-40 lay-md-25 lay-lg-15 scroll-y", id="sidebar")
  div(class="lay-60 lay-md-75 lay-lg-85 scroll-y", class="main-content full-height align-items-stretch flex-direction-row", id="main-content")
    div(ui-view="content", style="min-height:100%")
    div(ui-view="footer", class="bottom")
//div(ui-view="footer")
