div(ui-view="header", class="full-width")
div.grid-flex.full-height
  div(ui-view="sidebar", class="flex-20 scroll-y", id="sidebar")
  div(class="flex-80 scroll-y", class="main-content grid-flex full-height flex-direction-column", id="main-content")
    div(ui-view="content", class="flex-1",)
    div(ui-view="footer")
//div(ui-view="footer")
