header
  nav.navbar.navbar-primary.navbar-fixed
    .grid-flex
      .flex-30.align-left
        a.navbar-brand(ui-sref="main.views.home") hagrid
          small v0.0.1
      .flex-70.align-right
        a(href="https://github.com/rokk3rlabs/hagrid", target="_black") View on Github

