.fixed-area
  //h2 Web Framework
  p Knowledge Reference

  .list-api-refetence-area
    ul.list.default
      li
        i.icon-drop-down-list.icon-keyboard_arrow_down
        a(ui-sref="main.views.knowledge.grid-system") Grid System
        ul
          li
            a(ui-sref="main.views.knowledge.grid-system({'#': 'order-cols'})") Order Cols
          li
            a(ui-sref="main.views.knowledge.grid-system({'#': 'margin-cols'})") Margin Cols
          li
            a(ui-sref="main.views.knowledge.grid-system({'#': 'horizontal-alignment-of-items'})") horizontal alignment of items
          li
            a(ui-sref="main.views.knowledge.grid-system({'#': 'vertical-alignment-of-items'})") Vertical alignment of items
          li
            a(ui-sref="main.views.knowledge.grid-system({'#': 'vertical-alignment-of-content'})") Vertical alignment of content
          li
            a(ui-sref="main.views.knowledge.grid-system({'#': 'nested-grids'})") Nested

      li
        a(ui-sref="main.views.knowledge.typography") Typography
      li
        a(ui-sref="main.views.knowledge.buttons") Buttons
      li
        a(ui-sref="main.views.knowledge.input-forms") Input forms

