p Knowledge Reference
.list-api-refetence-area
  ul.list.default
    li
      //i.icon-drop-down-list.icon-keyboard_arrow_down
      a(ui-sref="main.views.knowledge.grid-system") Grid System
      //ul
        li
          a(ui-sref="main.views.knowledge.grid-system({'#': 'order-cols'})") Order Cols
        li
          a(ui-sref="main.views.knowledge.grid-system({'#': 'margin-cols'})") Margin Cols
        li
          a(ui-sref="main.views.knowledge.grid-system({'#': 'horizontal-alignment-of-items'})") horizontal alignment of items
        li
          a(ui-sref="main.views.knowledge.grid-system({'#': 'vertical-alignment-of-items'})") Vertical alignment of items
        li
          a(ui-sref="main.views.knowledge.grid-system({'#': 'vertical-alignment-of-content'})") Vertical alignment of content
        li
          a(ui-sref="main.views.knowledge.grid-system({'#': 'nested-grids'})") Nested
    li
      a(ui-sref="main.views.knowledge.base") Base and Helpers
    li
      a(ui-sref="main.views.knowledge.typography") Typography
    li
      a(ui-sref="main.views.knowledge.glyphicons") Glyphicons
    li
    li
      a(ui-sref="main.views.knowledge.buttons") Buttons
    li
      a(ui-sref="main.views.knowledge.dropdows") Dropdowns
    li
      a(ui-sref="main.views.knowledge.navbars") Navbars
    li
      a(ui-sref="main.views.knowledge.input-forms") Input forms
    li
      a(ui-sref="main.views.knowledge.labels") Labels
    li
      a(ui-sref="main.views.knowledge.tables") Tables
    li
      a(ui-sref="main.views.knowledge.lists") Lists
    li
      a(ui-sref="main.views.knowledge.breadcrumbs") Breadcrumbs
    li
      a(ui-sref="main.views.knowledge.alerts") Alerts
    li
      a(ui-sref="main.views.knowledge.progressbar") Progressbar
    li
      a(ui-sref="main.views.knowledge.paginations") Paginations
    li
      a(ui-sref="main.views.knowledge.tooltips") Tooltips
    li
      a(ui-sref="main.views.knowledge.modals") Modals
    li
      a(ui-sref="main.views.knowledge.sliders") Sliders



