.list-api-refetence-area
  p.title-sidebar Knowledge Reference
  ul._list.default
    li
      //i.icon-drop-down-list.icon-keyboard_arrow_down
      a(ui-sref="main.views.knowledge.grid-system", ui-sref-active="current") Grid System
      //ul
        li
          a(ui-sref="main.views.knowledge.grid-system({'#': 'order-cols'})") Order Cols
        li
          a(ui-sref="main.views.knowledge.grid-system({'#': 'margin-cols'})") Margin Cols
        li
          a(ui-sref="main.views.knowledge.grid-system({'#': 'horizontal-alignment-of-items'})") horizontal alignment of items
        li
          a(ui-sref="main.views.knowledge.grid-system({'#': 'vertical-alignment-of-items'})") Vertical alignment of items
        li
          a(ui-sref="main.views.knowledge.grid-system({'#': 'vertical-alignment-of-content'})") Vertical alignment of content
        li
          a(ui-sref="main.views.knowledge.grid-system({'#': 'nested-grids'})") Nested
    li
      a(ui-sref="main.views.knowledge.helpers", ui-sref-active="current") Base and Helpers
    li
      a(ui-sref="main.views.knowledge.typography", ui-sref-active="current") Typography
    li
      a(ui-sref="main.views.knowledge.glyphicons", ui-sref-active="current") Glyphicons
    li
      a(ui-sref="main.views.knowledge.buttons", ui-sref-active="current") Buttons
    li
      a(ui-sref="main.views.knowledge.dropdows", ui-sref-active="current") Dropdowns
    li
      a(ui-sref="main.views.knowledge.navbars", ui-sref-active="current") Navbars
    li
      a(ui-sref="main.views.knowledge.input-forms", ui-sref-active="current") Inputs & forms
    li
      a(ui-sref="main.views.knowledge.labels", ui-sref-active="current") Labels
    li
      a(ui-sref="main.views.knowledge.badges", ui-sref-active="current") Badges
    li
      a(ui-sref="main.views.knowledge.tables", ui-sref-active="current") Tables
    li
      a(ui-sref="main.views.knowledge.lists", ui-sref-active="current") Lists
    li
      a(ui-sref="main.views.knowledge.images", ui-sref-active="current") Images
    li
      a(ui-sref="main.views.knowledge.breadcrumbs", ui-sref-active="current") Breadcrumbs
    li
      a(ui-sref="main.views.knowledge.paginations", ui-sref-active="current") Paginations
    li
      a(ui-sref="main.views.knowledge.progressbar", ui-sref-active="current") Progressbar
    li
      a(ui-sref="main.views.knowledge.tooltips", ui-sref-active="current") Tooltips
    li
      a(ui-sref="main.views.knowledge.alerts", ui-sref-active="current") Alerts
    li
      a(ui-sref="main.views.knowledge.modals", ui-sref-active="current") Modals
    li
      a(ui-sref="main.views.knowledge.sliders", ui-sref-active="current") Sliders



